@import "src/styleguide/shared";
.venue-image {
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: thin $color-gray-2 dotted;
  }
}
.content {
  background-color: $color-white !important;
  padding: 0 30px !important;
  width: 100%;
}
.il-button {
  @include il-button;
}
.il-dialog {
  @include il-dialog;
  width: 550px;
  height: 450px;
  position: relative;
}
.header {
  margin-bottom: 0 !important;
  padding: 0 6px 0 !important;
}
img {
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0px;
}
:host ::ng-deep {
  .mat-form-field-label-wrapper {
    top: -7px !important;
  }

  .mat-focused .mat-form-field-underline {
    background-color: $color-primary !important;
  }

  .il-pill {
    margin-bottom: 5px !important;
  }
}
