@import "src/styleguide/shared";
.col-table {
  > div {
    &:first-child {
      height: 25px;
    }
    &:nth-child(2) {
      height: 40px;
    }
  }
}
.contract-card {
  @include contract-card;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
.img-box {
  background-size: contain !important;
  background-repeat: no-repeat;
}
img.ellipse {
  width: 30px !important;
  object-fit: unset !important;
  height: 30px;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px), (max-width: 1024px) {
  .contract-name {
    max-width: 30%;
    font-weight: 400 !important;
  }
  .img-box {
    height: 30px !important;
    width: 30px !important;
  }
  .contract-card {
    .col-table {
      max-width: 70% !important;
    }
    .row-text {
      font-weight: 400 !important;
      font-size: 12px;
      color: $color-black-1;
    }
  }
}
