@import "src/styleguide/shared";
.col-table {
  > div {
    &:first-child {
      height: 25px;
    }
    &:nth-child(2) {
      height: 40px;
    }
  }
}
.contract-card {
  @include contract-card;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
.img-box {
  background-size: contain !important;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
