<mat-card *ngIf="contract" fxLayout="column" class="contract-card">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="contract-name" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div class="img-box" [style.background-image]="getVenueImage(contract)" fxLayoutAlign="center center">
      </div>
      <span class="row-text">{{ contract?.contract_name }}</span>
    </div>
    <div class="col-table" fxLayoutAlign="start start">
      <div>
        <div class="col-text">Contract Date</div>
        <div class="row-text">{{ contract?.start_date | date: 'dd/MM/yyyy' }}</div>
      </div>
      <div>
        <div class="col-text">Created by</div>
        <div class="row-text">{{ contract?.user?.username  }}</div>
      </div>
      <div>
        <div class="col-text">Related Venue</div>
        <div class="row-text">{{ contract?.venue?.name }}</div>
      </div>
      <div fxFlex="5">
        <img class="ellipse" [matMenuTriggerFor]="menu" [src]="svgPath + 'dots-icon-blue.svg'" />
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="gotoDetail(contract?.id)">Edit</button>
        </mat-menu>
      </div>
    </div>
  </div>

  <il-contract-card-milestone fxFlex [contract]=[contract]></il-contract-card-milestone>

</mat-card>