@import "src/styleguide/shared";
.il-button {
  @include il-button;
}
table {
  width: 100%;
}
.qr-header {
  background-color: $color-white;
  height: 56px;
  width: 100%;
  opacity: 1;
}
::ng-deep {
  .mat-column-position {
    width: 6%;
  }
  .mat-column-remarks {
    width: 10%;
  }
  .mat-column-verification {
    width: 25%;
  }
  .mat-column-conditions {
    width: 40%;
  }
  .mat-radio-label-content {
    padding-left: 3px;
    padding-right: 10px;
  }
}
