<div [formGroup]="form" class="confirm-change-password-container" fxLayoutAlign="center center" fxFlexFill>
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img class="logo" [src]="imgPath + 'logo.png'" />
    </div>
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="center center">
        <h3 translate>Provide Password and Confirm</h3>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <div class="content" *ngIf="!changePasswordSuccessful; else successContainer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <div>
            <div fxLayout="column">
              <label>{{ 'Password' | translate }}</label>
              <il-input class="password" inputType="password" fxFlex="50" [form]="form" hasBorder="true" isFloatLabel="true" controlName="password" [placeholder]="'Password' | translate"></il-input>
            </div>
            <div fxLayout="column">
              <label>{{ 'Confirm Password' | translate }}</label>
              <il-input class="password" inputType="password" fxFlex="50" [form]="form" hasBorder="true" isFloatLabel="true" controlName="confirm_password" [placeholder]="'Confirm Password' | translate"></il-input>
            </div>
          </div>
          <button [disabled]="!form.valid" (click)="onSubmit()" mat-flat-button class="il-button primary large" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutAlign="center center">{{ 'CONFIRM' | translate }}</div>
          </button>
        </div>
      </div>

      <ng-template #successContainer>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
          <i class="pi pi-check"></i>
          <h3>Password Succesfully Changed!</h3>
        </div>
        <button (click)="done()" mat-flat-button class="il-button primary large" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutAlign="center center">{{ 'DONE' | translate }}</div>
        </button>
      </ng-template>
    </mat-card>
  </div>
</div>