<div *ngIf="form" class="products" fxFlex fxLayout="column" fxLayoutGap="20px">
  <div *ngIf="!inCheckListing && productPillsArr" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="img-box">
      <img [src]="svgPath + 'doc-icon-blue.svg'" />
    </div>
    <h2>Products</h2>
  </div>
  <div class="cp-container" fxLayout="column" fxLayoutGap="10px">
    <p *ngIf="inCheckListing && productPillsArr && productPillsArr.length > 0">
      Select the product to select the related terms that you want to inspect
    </p>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px">
      <ng-container *ngFor="let item of ($contractProducts | async); let i = index">
        <!-- parent product -->
        <il-pill [state]="state" 
            [reset]="!inCheckListing" 
            (preSelectEmitter)="preSelectChange({id: $event?.value, _id: $event?._id}, isChecklistProductSelected(item?.id))"
            (deSelectEmitter)="deSelectChange({id: $event?.value, _id: $event?._id})" 
            (click)="onEdit(item)" 
            [ngClass]="{sel: (isChecklistProductSelected(item?.id) || isProductSelected(item?.id)), 
              highlighted: hasChecklist(item?.id)}" 
            [enabled]="!inCheckListing || (inCheckListing && item?.sub_products)" 
            [item]="fmtToSimpleItem(item)" 
            [enableHighlight]="true" 
            (removeEmitter)="onRemoveProduct(item)" 
            [selectable]="true" 
            [hasRemoveIcon]="!inCheckListing">
        </il-pill>

        <!-- child product (stateEmitter)="removeSelection()" -->
        <il-pill *ngFor="let sub of item?.sub_products; let i = index" size="small" 
          (preSelectEmitter)="preSelectChange({id: $event?.value, _id: $event?._id}, 
          isChecklistProductSelected(sub?.id))" 
          (deSelectEmitter)="deSelectChange({id: $event?.value, _id: $event?._id})"
          
          (click)="onEdit(sub)" 
          [reset]="!inCheckListing" 
          [ngClass]="{sel: (isChecklistProductSelected(sub?.id) 
            || isSubProductChecklistSelected(sub?._id)),
            highlighted: isSubProductChecklistRelated(sub)}"
          [enabled]="inCheckListing" 
          [item]="fmtSubToSimpleItem(sub)" 
          [enableHighlight]="true" 
          (removeEmitter)="onRemoveSubProduct(sub)" 
          [selectable]="true" 
          [hasRemoveIcon]="!inCheckListing">
        </il-pill>
      </ng-container>
    </div>

    <!-- product with/without set -->
    <div *ngIf="!inCheckListing || isNavOpenAndEdit" class="product-section" fxLayout="row" [formGroup]="form" fxLayoutGap="20px">
      <!-- main product -->
      <div *ngIf="isAddState || (!inCheckListing && isAddState)" fxFlex fxLayout="column" fxLayoutAlign="start start">
        <ng-container>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <il-input-select fxFlex [form]="form" [controlName]="'product_name'" [suggestions]="suggestions" [isReadOnly]="inCheckListing || isNavOpenAndEdit"></il-input-select>
            <il-input fxFlex="15" [form]="form" [isReadOnly]="isNavOpenAndEdit" [isNumberOnly]="true" [controlName]="'qty'" placeholder="Enter quantity" [isReadOnly]="inCheckListing"></il-input>
            <il-input fxFlex="15" [form]="form" [isReadOnly]="isNavOpenAndEdit" [isNumberOnly]="true" [controlName]="'cost'" [showErrors]="hasSubProducts" placeholder="Enter unit cost"></il-input>
            <!-- <div fxFlex="5"></div> -->
          </div>
        </ng-container>

        <!-- sub products -->
        <ng-container *ngIf="hasSubProducts || formSubProdsArr">
          <div *ngFor="let sub_product of form.get('sub_products')?.controls;let i = index" fxLayout="column">
            <ng-container formArrayName="sub_products">
              <div fxFlex fxLayoutGap="20px" [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center">
                <il-input-select class="sub-product-auto-comp" [form]="sub_product" [controlName]="'product_name'" [suggestions]="suggestions" fxFlex fxFlexOffset="20px" [isReadOnly]="inCheckListing || isNavOpenAndEdit">
                </il-input-select>
                <il-input fxFlex="15" [form]="sub_product" [isReadOnly]="isNavOpenAndEdit" [isNumberOnly]="true" [controlName]="'qty'" placeholder="Enter quantity"></il-input>
                <il-input fxFlex="15" [form]="sub_product" [isReadOnly]="isNavOpenAndEdit" [isNumberOnly]="true" [controlName]="'cost'" placeholder="Enter unit cost"></il-input>
                <div *appHasRole="hasAdminManagerRole" fxFlex="5" fxLayoutAlign="start center">
                  <img *ngIf="!inCheckListing" class="remove-icon" matTooltip="Remove" (click)="onRemoveSubProduct(sub_product?.value, i)" [src]="svgPath + 'delete-icon-red.svg'" />
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="form-value" *ngIf="isAddState && !inCheckListing" fxFlex="180px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <ng-container>
          <button matTooltip="Save" [disabled]="!form.valid" *ngIf="!isEditProduct" mat-flat-button class="il-button primary" (click)="onAdd()">
            <span>Save Product</span>
          </button>
          <button matTooltip="Save" [disabled]="!form.valid" *ngIf="isEditProduct" mat-flat-button class="il-button primary" (click)="onSave()">
            <span>Update Product</span>
          </button>
          <div fxFlex="50px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <!-- <mat-checkbox matTooltip="Remove Child Product" [checked]="hasSubProducts" [disabled]="!form.valid" (change)="onShowSubProduct()"></mat-checkbox> -->
            <img *ngIf="form.valid" matTooltip="Add Child Product" (click)="onAddSubProduct()" class="add-icon" [src]="svgPath + 'add-icon-blue.svg'" />
          </div>
        </ng-container>
      </div>

      <div *ngIf="!inCheckListing" class="view" fxFlex="50px" fxLayout="row" fxLayoutAlign="start center">
        <img *ngIf="isAddState" matTooltip="Show/Hide Panel" (click)="onView()" [src]="svgPath + 'close-icon-red.svg'" />
        <button *ngIf="!isAddState" matTooltip="Add" mat-flat-button class="il-button primary" (click)="onView()">
          <span>Add Product</span>
        </button>
      </div>
    </div>
  </div>
</div>