@import "src/styleguide/shared";
il-inspection-active-panel,
il-inspection-finished-panel {
  width: 100%;
}
.template-container {
  > div {
    margin-bottom: 10px;
  }
}
:host ::ng-deep {
  .mat-tab-label-active {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    border: thin $color-gray-3 solid;
    background-color: $color-white !important;
    opacity: 1;
  }
  .mat-tab-body-wrapper {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }
  .mat-tab-body-content {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $color-primary;
  }
  .mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
  }
}
