<div class="template-container" fxLayout="column" fxLayoutGap="20px">
  <div>
    <div fxFlex>
      <h2>Assesments</h2>
    </div>
    <div fxFlex="120px" fxLayoutAlign="end center">
      <il-sort></il-sort>
    </div>
  </div>
  <mat-tab-group fxFlexFill>
    <mat-tab label="Active Inspections">
      <ng-template matTabContent>
        <div fxLayout="column" fxLayoutAlign="start center">
          <il-inspection-active-panel [colsHeaders]="ctCols" [inspectionChecklist]="($inspectionChecklist | async)"></il-inspection-active-panel>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Finished Inspections">
      <ng-template matTabContent>
        <div fxLayout="column" fxLayoutAlign="start center">
          <il-inspection-finished-panel [colsHeaders]="catCols" [items]="items"></il-inspection-finished-panel>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
