@import "src/styleguide/shared";
@import "src/styleguide/overrides";
.il-dialog {
  @include il-dialog;
  width: 100%;
  overflow: auto;
  .content {
    height: 100%;
  }
}
img {
  width: auto;
  height: auto;
}