@import "src/styleguide/shared";
@import "src/styleguide/overrides";
.il-dialog {
  @include il-dialog;
  width: 100%;
  .content {
    height: 100%;
  }
}
img {
  width: 100%;
  height: 100%;
}
::ng-deep {
  .cdk-overlay-pane {
    max-width: 95vw !important;
  }
}