@import "src/styleguide/shared";
.col-header {
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  height: 48px;
  margin-bottom: 0 !important;
  color: $color-gray-1;
  background-color: $color-white;
  padding-left: 28px;
  padding-right: 10px;
}
.img-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
.il-button {
  @include il-button;
}
.il-draggable-expansion {
  @include il-draggable-expansion;
  box-shadow: $box-shadow;

}
:host ::ng-deep {
  .mat-expansion-panel-header {
    padding-right: 10px;
    padding-left: 15px;
  }
  .il-pill {
    img {
      display: none !important;
    }
  }
}
::ng-deep {
  .mat-expansion-panel {
    transition: all 1s ease-in-out;
  }
  .cdk-drag-preview {
    border-radius: 0 !important;
    @extend .il-draggable-expansion;
  }
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
