<div class="irr-container" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="50">
      <h1>{{ 'Inspection run report' | translate }}</h1>
    </div>
    <div class="production-image" fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="10px">
      <img [src]="svgPath + 'download-icon-blue.svg'" />
      <span class="download" (click)="onDownload()">{{ 'Download production images' | translate }}</span>
    </div>
  </div>

  <il-inspection-report-inspector></il-inspection-report-inspector>
  <il-inspection-report-inspections></il-inspection-report-inspections>
  <il-inspection-report-products></il-inspection-report-products>
  <il-inspection-report-tags-term></il-inspection-report-tags-term>
  <il-inspection-report-tags></il-inspection-report-tags>
  <il-inspection-report-failures></il-inspection-report-failures>
  <il-inspection-report-comments></il-inspection-report-comments>
</div>
