@import "src/styleguide/shared";
.irr-container {
  padding: 0;
  span {
    font-size: 12px;
    font-weight: 500;
    color: $color-primary;
  }
}
.download {
  cursor: pointer;
}
:host ::ng-deep {
  il-inspection-report-inspector, il-inspection-report-inspections, il-inspection-report-products,
  il-inspection-report-tags, il-inspection-report-failures, il-inspection-report-comments {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
