@import "src/styleguide/shared";
.top-nav {
  @include il-topnav;
  overflow: hidden;
}
.chat {
  cursor: pointer;
}
.active-link {
  background-color: $color-gray-3;
  border-bottom: 2px solid $color-primary;
}
.settings {
  cursor: pointer;
}
::ng-deep {
  .mat-menu-item {
    height: 40px !important;
    max-height: 40px !important;
    line-height: 40px !important;
  }
}