<div class="col-header" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div *ngFor="let col of colsHeaders" [fxFlex]="col?.width">{{ col?.label }}</div>
</div>
<div *ngFor="let item of items| slice:1; let i = index" class="product-list" fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="34" fxLayoutAlign="start center">
  </div>
  <div fxFlex="22" fxLayoutAlign="start center">
    <il-pill [item]="{ label: item?.product_name, value: item?.id }" (removeEmitter)="onRemove($event)">
    </il-pill>
  </div>
  <div fxFlex="100px" fxLayoutAlign="start center">
    <span>${{item.averagePrice}}</span>
  </div>
  <div fxFlex="100px" fxLayoutAlign="start center">
    <span>{{item.avg_pass_fail}}</span>
  </div>
  <div fxFlex="100px" fxLayoutAlign="start center">
    <span>{{item.quantity}}</span>
  </div>
</div>
