<div class="col-header" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div *ngFor="let col of colsHeader; let first = first" [fxFlex.gt-lg]="col?.width" [fxFlex]="first ? '16.6' : col?.width">{{ col?.label }}</div>
</div>
<div class="il-draggable-expansion">
  <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel #pnl cdkDrag (cdkDragStarted)="dragStarted(true)" #pnl="matExpansionPanel" *ngFor="let user of users; let i = index" hideToggle="true">
      <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation()"
      (keydown.Enter)="$event.stopImmediatePropagation()" class="no-expand" (click)="onClickPnl(pnl, $event, i)" (mouseover)="mouseover(i)" (mouseleave)="mouseout()">
        <div class="pnl-header" fxLayout="row" fxLayoutGap="10px">
          <img cdkDragHandle [src]="svgPath + 'drag-icon.svg'" />
          <div fxFlex="16.6" fxLayoutAlign="start center">
            <img class="user-image" [src]="user?.image">
            <span *ngIf="selectedIndex !== i">{{user?.name}}</span>
          </div>
          <div fxFlex="10" fxLayoutAlign="start center">
            <span *ngIf="selectedIndex !== i">{{user?.position}}</span>
          </div>
          <div fxFlex="10" fxLayoutAlign="start center">
            <il-popover-select [options]="roles" [selectedItem]="user?.role" (selectedEmitter)="selectedRoleChange($event)" class="no-expand"></il-popover-select>
          </div>
          <div fxFlex="10" fxLayoutAlign="start center">
            <span *ngIf="selectedIndex !== i">{{user?.company}}</span>
          </div>
          <div fxFlex="16.5" fxLayoutAlign="start center">
            <span *ngIf="selectedIndex !== i">{{user?.phone}}</span>
          </div>
          <div fxFlex="30" fxLayoutAlign="start center" fxLayoutGap="5px">
            <span class="user-access">{{getAccessString(user?.access)}}</span>
          </div>
          <div fxFlex class="no-expand">
            <il-popover-multi-select [options]="access" class="action-col"></il-popover-multi-select>
          </div>
        </div>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>

</div>
