<!--  -->
<div class="milestone__container" fxLayout="row" fxLayoutAlign="space-between center">
  <div *ngFor="let date of pointOfDates; let i = index;" fxLayout="column" fxLayoutAlign="center center" class="milestone__box" [matTooltip]="getTooltip(date, i)"
    [ngClass]="{'border-left': i === 0, 'border-right': (pointOfDates.length - 1) == i, 'w-50': (pointOfDates.length - 1) == i || i === 0}" [attr.id]="i">

    <div class="milestone__h-line" fxLayoutGap="20px" [fxLayoutAlign]="(pointOfDates.length - 1) !== i ? (i === 0 ? 'start center': 'center center') : 'end center'" [ngClass]="{'top-1': i === 0 || (pointOfDates.length - 1) === i}">
      <div class="captions" fxLayout="column" [fxLayoutAlign]="(pointOfDates.length - 1) !== i ? (i === 0 ? 'start center': 'center center') : 'end center'">
        <!-- <div [ngClass]="{'hidden': !mileStoneDates.includes(date)}">
          <div class="milestone__date-title">
            <span>{{ i === 0 ? 'Start Date' : (pointOfDates.length - 1) === i ? 'Delivery Date' : 'Milestone Name'  }}</span>
          </div>
          <div class="milestone__date">{{date}}</div>
        </div> -->
        <div *ngIf="i === 0 || i === (pointOfDates.length - 1)" class="milestone__date">{{date}}</div>
      </div>
    </div>
    <div class="milestone__bar" *ngIf="i !== 0 && (pointOfDates.length - 1) !== i" [ngClass]="{'milestone': mileStoneDates.includes(date)}"></div>
  </div>
</div>
