@import "src/styleguide/shared";
.milestone__container {
  height: 45px;
}
.milestone {
  background-color: $color-primary !important;
}
.milestone__box {
  width: 100%;
  height: 8px;
  background-color: transparent;
  z-index: 3;
  &.w-50 {
    width: 50%;
  }
  &.border-right {
    border-right: 2px $color-primary solid;
  }
  &.border-left {
    border-left: 2px $color-primary solid;
  }
  div {
    .milestone__date {
      font-size: 10px;
      position: relative;
      top: 15px;
      font-weight: 600;
      text-align: center;
    }
  }
  div.milestone__date-title {
    letter-spacing: normal;
    white-space: nowrap;
    text-align: center;
    font-size: 10px;
    position: relative;
    top: 10px;
  }
  .milestone__bar {
    width: 2px;
    height: 8px;
    background-color: transparent;
    z-index: 999;
  }
}
.milestone__h-line {
  background-color: $color-gray-3;
  height: 1px;
  width: 100%;
  position: relative;
  top: 4px;
  z-index: 2;
}
.top-1 {
  position: relative;
  top: 1px !important;
}
