<div class="col-header" fxLayoutAlign="start center" fxLayoutGap="5px">
  <div *ngFor="let col of colsHeader; let last = last" [fxFlex]="col?.width">{{ col?.label }}</div>
</div>
<div class="il-draggable-expansion">
  <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel #pnl cdkDrag (cdkDragStarted)="dragStarted(true)" #pnl="matExpansionPanel" *ngFor="let item of items; let i = index" hideToggle="true">

      <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation()" (keydown.Enter)="$event.stopImmediatePropagation()" (keydown.Enter)="$event.stopImmediatePropagation()" (click)="onClickPnl(pnl, $event, i, item)"
        (mouseover)="mouseover(i)" (mouseleave)="mouseout()">
        <div class="pnl-header" fxLayout="row" fxLayoutGap="10px">
          <img cdkDragHandle [src]="svgPath + 'drag-icon.svg'" />
          <div class="venue-img" fxLayoutAlign="start center">
            <img matTooltip="Change image" (click)="uploader.click()" cdkDragHandle [src]="item?.image ? imageApiPath + item?.image?.filename : imgPath + 'no-image-40x40x.png'" />
            <input #uploader hidden name="file" type="file" (change)="uploadImage($event, item)" />
          </div>
          <div fxFlex="20" fxLayoutAlign="start center">
            <span *ngIf="selectedIndex !== i">{{item?.name}}</span>
            <mat-form-field *ngIf="selectedIndex === i" floatLabel="never">
              <input matInput (input)="onEdit(item, 'name', $event?.target.value)" (click)="$event.stopPropagation()" [value]="item?.name">
            </mat-form-field>
          </div>
          <div fxFlex="15" fxLayoutAlign="start center">
            <span *ngIf="selectedIndex !== i">{{item?.location}}</span>
            <mat-form-field *ngIf="selectedIndex === i" floatLabel="never">
              <input matInput (input)="onEdit(item, 'location', $event?.target.value)" (click)="$event.stopPropagation()" [value]="item?.location">
            </mat-form-field>
          </div>
          <div fxFlex="21" fxLayoutAlign="start center">
            <ng-container *ngIf="item?.related_products && item?.related_products.length > 0">
              <il-pill *ngFor="let product of item?.related_products | slice:0:1; let i = index;" [item]="{ value: product?._id, label: product?.product_name }" [hasRemoveIcon]="false"
                (removeEmitter)="onRemoveProduct({ id: $event, venue_id: item?.id })">
              </il-pill>
            </ng-container>
          </div>
          <div fxFlex="100px" fxLayoutAlign="center center">
            <span *ngIf="selectedIndex !== i">{{item?.contract_count}}</span>
          </div>
          <div fxFlex="100px" fxLayoutAlign="center center">
            <span>{{item?.inspections}}</span>
          </div>
          <div fxFlex="100px" fxLayoutAlign="center center">
            <span>{{item?.avg_pass_fail}}%</span>
          </div>
          <div fxFlex="100px" fxLayoutAlign="start center">
            <span>
              <il-star-rating [rating]="item?.rating"></il-star-rating>
            </span>
          </div>
        </div>

        <div fxFlex="100px" class="pnl-actions" fxLayoutAlign="end center">
          <il-ellipse-menu class="menu-ellipse" *ngIf="hoveredIndex !== i"></il-ellipse-menu>
          <div class="menu-icon" *ngIf="hoveredIndex === i && selectedIndex === null">
            <img class="edit" [src]="svgPath + 'edit-icon-blue.svg'" matTooltip="Edit" />
            <img *appHasRole="'admin'" class="delete" [src]="svgPath + 'delete-icon-red.svg'" (click)="onDelete(item?.id)" matTooltip="Delete">
          </div>
          <div class="menu-icon" *ngIf="hoveredIndex === i && selectedIndex === i">
            <img [src]="svgPath + 'close-icon-blue.svg'" class="no-expand" (click)="onClose()" matTooltip="Close" />
            <img [src]="svgPath + 'save-icon-blue.svg'" class="no-expand" (click)="onSave()" matTooltip="Save">
          </div>
        </div>
      </mat-expansion-panel-header>
      <div>
        <il-venue-expansion-list *ngIf="item?.related_products && item?.related_products.length > 0" [items]="item?.related_products"></il-venue-expansion-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
