@import "src/styleguide/shared";
.action-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.venue-img {
  cursor: pointer;
  img {
    width: 40px;
    border-radius: 50%;
    border: thin $color-gray-3 solid;
    height: 40px;
  }
}
.il-bg-blue {
  @include il-bg-blue;
  background: $color-white;
  color: $color-black-2;
  width: 120px;
}
:host ::ng-deep {
  .mat-button {
    background: $color-primary;
    min-width: 45px;
    padding: 0 10px;
    height: 45px;
    border-radius: 8px;

    mat-icon {
      color: $color-white;
      font-size: 18px;
      padding-top: 3px;
    }
  }
  .mat-button-toggle-label-content {
    line-height: 32px !important;
  }
  .mat-button-toggle-group-appearance-standard {
    border: none !important;
    background-color: $color-white !important;
    background: $color-white !important;
  }
  .mat-button-toggle-checked {
    background: $color-primary !important;
    color: $color-white !important;
  }
  .mat-button-toggle-group {
    margin-left: 30px;
    .mat-button-toggle {
      &:first-child {
        border-radius: 0 2px 2px 0;
      }
    }
  }
}
