<div class="user-table" [ngClass]="{'active': active}">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{ column !== 'action' ? splitToSentCase(column): ''}} </th>
      <td [id]="i" mat-cell *matCellDef="let item">
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="!isNoExpand(i)">
          <img *ngIf="i === 0 && item?.image" class="user-pic" [src]="apiImagePath + item?.image" />
          <img *ngIf="i === 0 && !item?.image" class="user-pic" [src]="imgPath + 'no-image.png'" />
          <span>{{item[column]}}</span>
        </div>
        <il-popover-multi-select *ngIf="isNoExpand(i) && !isLast(columnsToDisplay, i)" [idx]="i" [label]="column" [options]="isAccessOrRoles(column)" [values]="fmtToIds(item, column)"
          (optionValuesEmitter)="handleOptionValuesChange($event, item, column)" class="action-col"></il-popover-multi-select>

        <div *ngIf="column === 'action'" [id]="i" fxFlex fxLayoutAlign="center center">
          <img [id]="i" class="ellipse" [matMenuTriggerFor]="menu" [src]="svgPath + 'dots-icon-blue.svg'" />
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="toDetail(item?.id)">Edit</button>
            <button mat-menu-item (click)="onDelete(item?.id)">Delete</button>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <!--detail expanded section -->
    <ng-container matColumnDef="expandedDetail">
      <td [ngClass]="{'has-border': item == expandedElement}" mat-cell *matCellDef="let item" [attr.colspan]="columnsToDisplay.length">
        <div class="tbl-el-detail" [@detailExpand]="item == expandedElement ? 'expanded' : 'collapsed'">
          <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" class="tbl-el-diagram">
            <div *ngFor="let col of cols" fxFlex="30">
              <span>{{ fmtToTitlecase(col) | uppercase }}</span>
              <span>{{ fmtItem(item, col) | titlecase }}</span>
            </div>
            <div fxFlex="30">
              <span>Self Intro</span>
              <span>{{item?.self_intro}}</span>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let item; columns: columnsToDisplay;" class="tbl-el-row" [ngClass]="{'expanded-row': isNoExpand(i)}" (click)="onExpand(item, $event)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <mat-paginator [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>