@import "src/styleguide/shared";
.contract-detail-report-container {
  padding: 40px;
  h1 {
    margin-bottom: 10px;
  }
}
.header {
  width: 100%;
}
.sub-products > div {
  margin-right: 5px;
}
.il-pill {
  @include il-pill;
}
.il-pill.small {
  margin-left: 0 !important;
}
.detail-container {
  margin-bottom: 0;
  > div {
    color: $color-black-1;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    width: 25%;
    div:first-child {
      font-size: 12px;
      color: $color-gray-1;
      margin-bottom: 2px;
    }
  }
  > div:first-child {
    margin-right: 40px;
    margin-left: 5%;
  }
}
.category-title {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  background-color: $color-white;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: $box-shadow;

  > img:nth-of-type(1) {
    cursor: move;
  }

  > img:nth-of-type(2) {
    cursor: pointer;
  }
}
.tab-title {
  position: fixed;
}
.tab-header {
  border-top: thin $color-gray-3 solid;
  border-left: thin $color-gray-3 solid;
  border-right: thin $color-gray-3 solid;
  background-color: $color-white;
  width: fit-content;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  > div {
    position: relative;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
  }
}
.save-icon {
  padding-left: 15px;
  cursor: pointer;
}
.il-tab {
  @include il-tab;
}
mat-icon {
  color: $color-gray-2;
  cursor: pointer;
}
:host ::ng-deep {
  .mat-card {
    width: 100%;
    border: thin $color-gray-3 solid;
  }
  .mat-table {
    border-left: thin $color-gray-3 solid;
    border-right: thin $color-gray-3 solid;
  }
  .mat-tab-body-wrapper {
    margin-bottom: 20px;
  }
  td.mat-cell {
    &:first-child {
      width: 300px;
      .text-edit,
      .text-display {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    &:nth-child(2) {
      padding-top: 13px;
      > div > div {
        &:nth-child(2) {
          position: relative;
          top: -3px;
        }
      }
    }
  }
  .mat-tab-label {
    display: none;
  }
}
