<div [attr.id]="item?.value" [attr._id]="item?._id" class="pill-container fade-in" (click)="onSelect($event, item)" [attr.class]="isSelected ? 'selected': ''">
  <div #pill [attr.id]="item?.value" [attr._id]="item?._id" [ngClass]="{'p-cursor': selectable, 'small': isSizeSmall, 'enabled': enabled && isSizeSmall, 'disabled': !enabled && !isSizeSmall}" class="il-pill noselect"
    fxLayoutGap="5px">
    <div class="label">{{ item?.label }}</div>
    <img *ngIf="hasRemoveIcon" class="no-expand" matTooltip="Remove" (click)="removeEmitter.emit(item?.value)" [src]="svgPath + 'close-icon-white.svg'" />
  </div>
</div>
