@import "src/styleguide/shared";
@import "src/styleguide/overrides";
.placeholder {
  font-size: 14px;
  position: absolute;
  color: $color-gray-1;
  // top: 9px;
}
::ng-deep {
  .cdk-overlay-pane {
    @include adjust-dropdown-overlay($adjust: true);
  }
  .mat-select-panel .mat-optgroup-label,
  .mat-select-panel .mat-option {
    height: 41px !important;
    font-size: 14px !important;
  }
  .mat-select-value-text {
    font-size: 14px !important;
  }
}
:host ::ng-deep {
  // .mat-form-field-appearance-legacy .mat-form-field-infix {
  //   padding: 0 !important;
  // }
  .mat-form-field-label {
    font-size: 14px;
  }
}
