<div [formGroup]="form" class="il-dialog" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div class="header" fxLayoutAlign="center center" fxLayout="column">
    <div fxLayoutAlign="end center">
      <img [src]="svgPath + 'close-icon-big-gray.svg'" (click)="dialogRef.close(false)" />
    </div>
    <h2>Add Product</h2>
  </div>
  <div class="content" fxLayout="column" fxLayoutGap="20px">
    <div fxFlex>
      <div fxLayout="column" fxLayoutGap="10px">
        <il-input fxFlex [form]="form" isFloatLabel="true" [controlName]="'product_name'" placeholder="Product Name" [isRequired]="true"></il-input>
        <!-- <div fxLayoutGap="20px">
          <il-input fxFlex="50" [form]="form" isFloatLabel="true" [controlName]="'qty'" placeholder="Quantity" [isRequired]="true"></il-input>
          <il-input fxFlex="50" [form]="form" isFloatLabel="true" [controlName]="'cost'" placeholder="Cost" [isRequired]="true"></il-input>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button mat-flat-button class="il-button default large" (click)="dialogRef.close(false)">Cancel</button>
    <button [disabled]="!form.valid" mat-flat-button class="il-button primary large" (click)="dialogRef.close(form.value)">Save</button>
  </div>
</div>
