<div *ngIf="($inspectionRun | async) as inspectionRun" class="irp-container">
  <div class="title">
    <h1>
      <span>{{ inspectionRun?.checklist?.checklist_name | uppercase }} : </span>
      <span>#{{ inspectionRun?.count }}</span>
    </h1>
  </div>
  <div class="actions-panel" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="40" fxLayoutGap="5px">
      <button [matMenuTriggerFor]="appMenu" class="il-button il-bordered-blue navigate-to" mat-flat-button>
        <img [src]="svgPath + 'enter-icon-blue.svg'" />
        <span>Navigate to</span>
      </button>
      <mat-menu class="navigate-to" #appMenu="matMenu">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <il-input fxFlex="100" (click)="$event.stopPropagation();" [form]="formNavigateTo" isFloatLabel="false" [controlName]="'position'" placeholder="Item Position"></il-input>
          <button mat-flat-button class="il-button primary">Go</button>
        </div>
      </mat-menu>
      <button class="il-button il-bordered-blue delete-current" mat-flat-button>
        <img [src]="svgPath + 'delete-icon-blue.svg'" />
        <span>Delete current and go back </span>
      </button>
    </div>

    <div fxFlex fxLayoutAlign="end center" fxLayoutGap="5px">
      <button (click)="onPrev(inspectionRun)" class="il-button il-bg-blue" mat-flat-button>
        <img [src]="svgPath + 'arrow-left-icon-white.svg'" />
        <span>Previous</span>
      </button>
      <button (click)="onNext(inspectionRun)" class="il-button il-bg-blue" mat-flat-button>
        <span>Next</span>
        <img [src]="svgPath + 'arrow-right-icon-white.svg'" />
      </button>
      <button mat-flat-button class="il-button il-bg-green">
        <img [src]="svgPath + 'pause-icon-white.svg'" />
        <span>Pause run</span>
      </button>
      <button mat-flat-button class="il-button il-bg-red">
        <img [src]="svgPath + 'stop-icon-white.svg'" />
        <span>Stop run</span>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <il-input fxFlex="122px" [form]="form" isFloatLabel="true" [inputMaxLen]="10" controlName="items" placeholder="Items checked for this run"></il-input>
    <div fxFlex fxLayoutAlign="end center">
      <il-dropdown-select-search (valueEmitter)="handleValueEmitter($event)" placeholder="Products" [options]="products"></il-dropdown-select-search>
    </div>
  </div>
  <div>
    <il-inspection-run-category [item]="inspectionRun"></il-inspection-run-category>
  </div>
</div>