<div *ngIf="inspectionRun" class="irp-container">
  <div class="title">
    <h1>
      <span>{{ inspectionRun?.checklist?.checklist_name | uppercase }} : </span>
      <span>#{{ inspectionRun?.count }}</span>
    </h1>
  </div>

  <!--- actions panel -->
  <div class="actions-panel" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <!-- desktop button -->
      <button [matMenuTriggerFor]="appMenu" class="il-button il-bordered-blue desk-nav-to" mat-flat-button>
        <img [src]="svgPath + 'enter-icon-blue.svg'" />
        <span>Navigate to</span>
      </button>

      <!-- ipad button -->
      <button [matMenuTriggerFor]="appMenu" class="il-button il-bordered-blue ipad-nav-to" mat-flat-button>
        <img [src]="svgPath + 'enter-icon-blue.svg'" />
      </button>

      <mat-menu class="navigate-to" [overlapTrigger]="false" #appMenu="matMenu">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <il-input fxFlex="100" (click)="$event.stopPropagation();" [form]="form" isFloatLabel="false" controlName="position" placeholder="Item Position"></il-input>
          <button (click)="navigateTo()" mat-flat-button class="il-button primary">Go</button>
        </div>
      </mat-menu>

      <button [disabled]="isBtnActionDisabled || isFirstRecord" (click)="onDeleteNavigateTo(inspectionRun)" class="il-button il-bordered-blue delete-current desk-delete-nav-to" mat-flat-button>
        <img [src]="svgPath + 'delete-icon-blue.svg'" />
        <span>Delete current and go back </span>
      </button>

      <!-- ipad button -->
      <button [disabled]="isBtnActionDisabled || isFirstRecord" (click)="onDeleteNavigateTo(inspectionRun)" class="il-button il-bordered-blue delete-current ipad-delete-nav-to" mat-flat-button>
        <img [src]="svgPath + 'delete-icon-blue.svg'" />
      </button>
    </div>

    <div fxFlex fxLayoutAlign="end center" fxLayoutGap="5px">
      <button [disabled]="isBtnActionDisabled || isFirstRecord" (click)="onPrev(inspectionRun)" class="il-button il-bg-blue" mat-flat-button>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <img [src]="svgPath + 'arrow-left-icon-white.svg'" />
          <span>Previous</span>
        </div>
      </button>
      <button [disabled]="isBtnActionDisabled" (click)="onNext(inspectionRun)" class="il-button il-bg-blue" mat-flat-button>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
          <span>Next</span>
          <img [src]="svgPath + 'arrow-right-icon-white.svg'" />
        </div>
      </button>
      <button (click)="isBtnActionDisabled ? onResume(inspectionRun) : onPause()" mat-flat-button class="il-button il-bg-green">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <img [src]="svgPath + 'pause-icon-white.svg'" />
          <span *ngIf="!isBtnActionDisabled">Pause run</span>
          <span *ngIf="isBtnActionDisabled">Resume run</span>
        </div>
      </button>
      <button (click)="onStop()" mat-flat-button class="il-button il-bg-red">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <img [src]="svgPath + 'stop-icon-white.svg'" />
          <span>Stop run</span>
        </div>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <il-input fxFlex="122px" [form]="form" isFloatLabel="true" [inputMaxLen]="10" controlName="copyCount" placeholder="Items checked for this run"></il-input>

    <div fxFlex fxLayoutAlign="end center">
      <il-dropdown-select-search [selectedItem]="selProduct?.value" (valueEmitter)="onSelectProductChange($event)" placeholder="Select Product" [options]="products"></il-dropdown-select-search>
    </div>
  </div>
  <div *ngIf="checklistProductHasTerms; else selectedAProduct">
    <il-inspection-run-category *ngIf="inspectionRun" [inspectionRun]="inspectionRun"></il-inspection-run-category>
  </div>
</div>

<ng-template #selectedAProduct>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h3>Select a Product</h3>
  </div>
</ng-template>