@import "src/styleguide/shared";
.menu-cap {
  cursor: pointer;
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    flex-wrap: nowrap;
  }
}
::ng-deep {
  mat-checkbox,
  .mat-checkbox-layout {
    width: 220px !important;
  }
  .mat-checkbox-inner-container {
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    position: relative !important;
    top: 3px !important;
    margin-right: 5px !important;
  }
}
