@mixin btn {
  border-radius: 2px;
  font-size: 12px;
  font-weight: normal;
  min-width: 112px;
  height: 35px !important;
  line-height: 25px;
  width: fit-content !important;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
@mixin il-bg-blue {
  background-color: $color-primary;
  color: $color-white;
  @include btn;
  img {
    margin-right: 5px;
  }
  span {
    line-height: 30px;
  }
}
@mixin il-bordered-blue {
  border: thin $color-primary solid !important;
  color: $color-primary;
  @include btn;
  img {
    margin-right: 5px;
  }
  span {
    line-height: 30px;
  }
}
@mixin il-button {
  &.default {
    @include btn;
    color: $color-primary;
    background-color: $color-gray-4;
  }
  &.primary {
    @include btn;
    background-color: $color-primary;
    color: $color-white;
  }
  &.danger {
    @include btn;
    background-color: $color-red;
    color: $color-white;
  }
  &.large {
    min-width: 176px;
    width: fit-content;
    height: 40px !important;
    font-size: 14px;
  }
  &.small {
    min-width: 80px;
    width: fit-content;
    height: 32px !important;
    font-size: 14px;
  }
  &.purple {
    background-color: $color-purple;
    color: $color-white;
    border-radius: 0;
    height: 32px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    span {
      line-height: 30px;
    }
  }
}
@mixin il-fab {
  position: fixed;
  width: 56px;
  bottom: 15px;
  z-index: 9999;
  border-radius: 20%;
  &.default {
    background-color: $color-white !important;
  }
}
button {
  @include il-button;
}
.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: $color-primary !important;
  color: $color-white;
}
