.mat-checkbox-checked .mat-checkbox-background,
.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background: $color-primary !important;
}
.mat-primary .mat-option.mat-selected {
  color: $color-primary !important;
}
.ui-chkbox-label {
  font-size: 14px;
  color: $color-black-2;
}
.ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  font-size: 15px !important;
  top: 1px !important;
}