@mixin il-input {
  .read-only {
    input {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  input.mat-input-element {
    line-height: 20px;
    min-height: 35px;
  }
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $color-black-2;
  }
  ::ng-deep {
    .read-only .mat-form-field-appearance-legacy .mat-form-field-underline {
      opacity: 0.6 !important;
    }
  }
}
