@mixin il-input {
  .read-only {
    input {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  input.mat-input-element {
    line-height: 20px;
  }
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $color-gray-1;
  }
  ::ng-deep {
    .read-only .mat-form-field-appearance-legacy .mat-form-field-underline {
      opacity: 0.6 !important;
    }
  }
  ::ng-deep {
    input.mat-input-element {
      font-size: 14px;
      position: relative;
      top: 2px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      font-size: 14px;
      padding-top: 5px;
      color: $color-gray-1;
    }
  }
}
.il-input .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $color-gray-1;
}