.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color-primary;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color-primary;
}
.mat-radio-disabled {
  cursor: not-allowed !important;
}
.mat-radio-button.mat-radio-disabled {
  .mat-radio-inner-circle {
    background-color: $color-gray-1 !important;
  }
  .mat-radio-outer-circle {
    border-color: $color-gray-1 !important;
  }
}
