@import "src/styleguide/shared";
canvas {
  height: 400px !important;
}
h2 {
  line-height: 32px;
}
img {
  padding: 10px 0px 5px;
  max-width: 150px;
  height: auto;
  border: thin $color-gray-4 solid;
  border-radius: 2px;
}
:host ::ng-deep {
  .mat-expansion-panel-body {
    padding: 0 !important;
    background-color: $color-white !important;
  }
  .mat-list {
    width: 100%;
    background: $color-white-1;
    padding: 0 5px;
    
    .mat-list-item {
      height: 65px;
    }

    .mat-list-item-content {
      display: block;
      padding: 0 20px;
    }
  }
  td.mat-cell {
    padding: 5px !important;
    &:first-child {
      min-width: 70px;
      width: 70px;
      padding-left: 20px !important;
    }
    &:nth-child(2) {
      min-width: 250px;
      width: 250px;
    }
    &:last-child {
      min-width: 350px;
      width: 350px;
      padding: 20px !important;
    }
  }
  .mat-table {
    width: 100%;
    border-top: thin #eee solid;
    border-radius: 0;
  }
}