<div *ngIf="form && controlName" [formGroup]="form" class="il-input" [ngClass]="{'center': isCenter}">
  <mat-form-field [ngClass]="{'has-border': hasBorder, 'read-only': isReadOnly, 'errors': hasError}" [floatLabel]="isFloatLabel == true ? '' : 'never'">
    
    <input *ngIf="isNumberOnly" [ngClass]="{'errors': hasError}" [InputMaxLength]="inputMaxLen" matInput [formControlName]="controlName" numbersOnly currencyFormatter [placeholder]="placeholder | translate" autocomplete="off" [readonly]="isReadOnly">

    <input *ngIf="!isNumberOnly" [ngClass]="{'errors': hasError}" [InputMaxLength]="inputMaxLen" matInput [formControlName]="controlName" [placeholder]="placeholder | translate" autocomplete="off" [type]="inputType" [readonly]="isReadOnly">

    <mat-error *ngIf="hasError" class="errors" align="end">{{ 'Invalid Field' | translate}}</mat-error>
  </mat-form-field>
</div>