<div>
  <il-expandable-panel title="Inspector" [expanded]="true">
    <div class="content" fxLayout="column" fxLayoutGap="20px">
      <div class="detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="15" fxLayout="column">
          <div>Сontact Person</div>
          <div>{{ ($detail | async)?.user?.username }}</div>
        </div>
        <div fxFlex="15" fxLayout="column">
          <div>Phone Number</div>
          <div>{{ ($detail | async)?.venue?.phone }}</div>
        </div>
        <div fxFlex="15" fxLayout="column">
          <div>Venue</div>
          <div>{{ ($detail | async)?.venue?.name }}</div>
        </div>
        <div fxFlex fxLayout="column">
          <div>Address</div>
          <div>{{ ($detail | async)?.venue?.location }}</div>
        </div>
      </div>
    </div>
  </il-expandable-panel>
</div>
