<div *ngIf="dataSource">
  <il-expandable-panel title="Products ({{dataSource?.products?.length}})" [expanded]="false">
    <div fxLayout="column" fxLayoutGap="20px">
      <div class="detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-list fxLayout>
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <h5>Total items:</h5>
            <h2>{{dataSource?.total_items}}</h2>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <h5>Failed Items:</h5>
            <h2>{{dataSource?.total_failed_items}}</h2>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <h5>Pass Items:</h5>
            <h2>{{dataSource?.total_pass_items}}</h2>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <!-- <div class="chart-container">
      <div class="chart-container-inner">
        <div echarts [ngStyle]="{'min-height': '250px'}" [options]="barChartOption"></div>
      </div>
    </div> -->
    <table mat-table [dataSource]="dataSource?.products">
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let items"> {{items?.product_name}} </td>
      </ng-container>

      <ng-container matColumnDef="failed">
        <th mat-header-cell *matHeaderCellDef> Failed </th>
        <td mat-cell *matCellDef="let items"> {{items?.failed}} </td>
      </ng-container>

      <ng-container matColumnDef="passed">
        <th mat-header-cell *matHeaderCellDef> Passed </th>
        <td mat-cell *matCellDef="let items"> {{items?.passed}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </il-expandable-panel>
</div>