@import "src/styleguide/shared";
.chart-container{
  overflow-x: auto;
  padding: 0px 20px;
  height: 250px;
}
.chart-container-inner {
  height: 250px;
}
h2 {
  line-height: 32px;
}
:host ::ng-deep {
  tr.mat-header-row {
    height: 40px !important;
  }
  .mat-expansion-panel-header {
    height: 45px !important;
  }
  .mat-list-item-content {
    width: 100%;
    h5 {
      margin-right: 20px;
    }
  }
  .mat-expansion-panel-body {
    padding: 0 !important;
    background-color: $color-white !important;
  }
  .mat-list {
    width: 100%;
    background: $color-white-1;
    padding: 0;
    .mat-list-item {
      height: 40px;
      border-bottom: 1px solid $color-gray-3;
      border-top: 1px solid $color-gray-3;
    }
    .mat-list-item:not(:last-child) {
      border-right: 1px solid $color-gray-3;
    }
    .mat-list-item-content {
      display: block;
      padding: 0 20px;
    }
  }
  .mat-table {
    width: 100%;
    margin-top: 0 !important;
    .mat-header-cell {
      font-weight: bold !important;
      background: $color-white-1;
    }
  }

}