@import "src/styleguide/shared";
.sort {
  cursor: pointer;
  span.name {
    font-size: 14px;
    font-weight: 500;
    color: $color-black-2;
  }
  img.arrow {
    margin-right: 0 !important;
  }
}
