<div fxLayout="column" fxLayoutGap="20px">
  <h2 fxFlex>{{ 'User Details' | translate }}</h2>
  <mat-card>
    <div *ngIf="form" class="content" fxLayout="column" fxLayoutGap="30px">
      <div fxLayout="column">
        <h4>{{ 'User Info' | translate }}</h4>
        <div>
          <div fxLayout="row wrap" fxFlex fxLayoutGap="20px">
            <il-input fxFlex="25" [isFloatLabel]="true" [form]="form" isFloatLabel="true" controlName="username"
              [placeholder]="'Username' | translate"></il-input>
            <!-- this can only be viewed by admin -->
            <il-dropdown-multi-select fxFlex="25" [isFloatLabel]="true" [form]="form" controlName="user_access"
              placeHolder="Access" [options]="($access | async)">
            </il-dropdown-multi-select>
            <!-- this can only be viewed by admin -->
            <il-dropdown-multi-select fxFlex="25" inputMaxLen="50" [isFloatLabel]="true" [form]="form"
              controlName="user_roles" placeHolder="Role" [options]="($roles | async)">
            </il-dropdown-multi-select>
          </div>
        </div>
      </div>

      <!-- user profile -->
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="10px">
          <h4>User Profile</h4>
          <div fxFlex fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row wrap" fxLayoutGap="40px">
              <il-input fxFlex="25" inputMaxLen="50" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="firstname" [placeholder]="'Firstname' | translate"></il-input>
              <il-input fxFlex="25" inputMaxLen="50" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="lastname" [placeholder]="'Lastname' | translate"></il-input>
              <il-input fxFlex="25" inputMaxLen="50" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="phone" [placeholder]="'Phone number' | translate"></il-input>
              <il-input fxFlex="25" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true" inputType="email"
                controlName="email" [placeholder]="'Email' | translate"></il-input>

              <il-input fxFlex="25" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="facebook" inputMaxLen="50" [placeholder]="'Facebook' | translate"></il-input>
              <il-input fxFlex="25" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="company_linkedin" [placeholder]="'Company linkedin' | translate"></il-input>
              <il-input fxFlex="25" inputMaxLen="50" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="twitter" [placeholder]="'Twitter' | translate"></il-input>
              <il-input fxFlex="25" inputMaxLen="50" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="wechatid" [placeholder]="'WeChat ID' | translate"></il-input>

              <il-input fxFlex="25" inputMaxLen="50" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="qqid" [placeholder]="'QQid' | translate"></il-input>

            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutGap="10px">
          <h4>{{ 'Company Details' | translate }}</h4>
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="40px">
              <il-input fxFlex="25" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="company_name" inputMaxLen="50" [placeholder]="'Company Name' | translate"></il-input>
              <il-input fxFlex="25" [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
                controlName="company_linkedin" inputMaxLen="50" [placeholder]="'Company Linkedin' | translate"></il-input>
              <div fxFlex="25"></div>
            </div>
            <il-textarea fxFlex="50" fxFlex [isFloatLabel]="true" [form]="form.get('user_profile')" isFloatLabel="true"
              controlName="company_address" [placeholder]="'Company Address' | translate"></il-textarea>
          </div>
        </div>
      </div>
      <!-- actions -->
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <button mat-flat-button class="il-button default medium" [routerLink]="userMngmtRoute">{{ 'Back' | translate
          }}</button>
        <button [disabled]="!form.valid" mat-flat-button class="il-button primary medium" (click)="onSave()">{{ 'Update'
          | translate }}</button>
      </div>
    </div>
  </mat-card>
</div>