@import "src/styleguide/shared";
.il-button {
  @include il-button;
}
.il-dialog {
  width: 385px !important;
  height: 200px !important;
  padding: 20px;
  > div {
    &:first-child {
      width: 100%;
      height: 30px;
      min-height: 30px;
    }
  }
  .content {
    width: 100%;
    height: 70px !important;
    > div {
      height: 55px;
    }
  }
  il-input {
    width: 100%;
    max-width: 100% !important;
  }
  button {
    min-width: 100px;
    width: 107px !important;
  }
}
:host ::ng-deep {
  .mat-focused .mat-form-field-underline {
    background-color: $color-primary !important;
  }
}
::ng-deep {
  .il-sidebar {
    position: relative !important;
  }
}
