<div *ngIf="($notify | async)?.error" class="notification" [ngClass]="{'error': ($notify | async)?.error }">
  <p>{{($notify | async)?.message}}</p>
</div>

<p-blockUI [blocked]="(loaderSrv?.isLoading | async) && ($isLoggedIn | async)">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <img [src]="svgPath + 'loader.svg'" />
  </div>
</p-blockUI>

<div fxFlexFill>
  <div class="contents" fxFlex>
    <il-topnav *ngIf="$isLoggedIn | async"></il-topnav>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>