@import "src/styleguide/shared";
@import "src/styleguide/overrides";
.content {
  background-color: $color-white !important;
  padding: 0 40px !important;
}
.images-height {
  min-height: 500px !important;
}
.il-button {
  @include il-button;
}
.img-container {
  min-height: 130px;
}
.il-dialog {
  @include il-dialog;
  width: 672px;
  .content {
    height: 245px;
    min-height: 245px;
  }
}
.header {
  margin-bottom: 0 !important;
}
il-textarea {
  width: 100%;
}
.header {
  > div {
    &:first-child {
      height: 25px;
    }
    &:nth-child(2) {
      height: 40px;
    }
  }
}
.image-list {
  height: 125px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  > div {
    margin: 10px;
    background-color: transparent !important;
  }
}
.thumb-img {
  width: 100px;
  height: 100px;
  max-height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: move;
  border-radius: 4px;
  box-shadow: $box-shadow;
  border: thin $color-gray-3 solid;
}
.remove {
  height: 24px;
  width: 24px;
  position: relative;
  top: 13px;
  left: 11px;
  background-color: $color-gray-3;
  border-radius: 50%;
  cursor: pointer;
}
.il-button {
  @include il-button;
}
.has-dialog-imgs {
  height: 450px !important;
}
.has-imgs {
  height: 385px !important;
  min-height: 385px !important;
  max-height: 385px !important;
}
.cdk-drag-placeholder {
  opacity: 1;
  position: relative;
  top: 10px;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.image-list.cdk-drop-list-dragging .image-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  position: relative;
  top: 10px;
}
.drag-placeholder {
  background-color: transparent !important;
  border: dotted 2px $color-gray-2;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  width: 100px;
  min-width: 100px;
  min-height: 100px;
  cursor: move;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  cursor: move;

  @extend .thumb-img;
  img.remove {
    display: none !important;
  }
}
::ng-deep {
  .cdk-overlay-pane {
    @include adjust-dropdown-overlay($adjust: false);
  }
}
:host ::ng-deep {
  .mat-focused .mat-form-field-underline {
    background-color: $color-primary !important;
  }

  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    font-size: 14px;
    height: 40px !important;
  }
  .mat-focused .mat-form-field-underline {
    background-color: $color-primary !important;
  }
}
