@import "src/styleguide/shared";
.content {
  background-color: $color-white !important;
  padding: 0 40px !important;
}
.il-button {
  @include il-button;
}
.il-dialog {
  @include il-dialog;
  width: 672px;
  .content {
    height: 385px;
    min-height: 385px;
  }
}
.header {
  margin-bottom: 0 !important;
}
il-textarea {
  width: 100%;
}
:host ::ng-deep {
  .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    font-size: 14px;
    height: 40px !important;
  }
  .mat-focused .mat-form-field-underline {
    background-color: $color-primary !important;
  }
}
