<div class="category-table">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <!-- rows and columns -->
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{column}}</th>
      <td mat-cell *matCellDef="let element">
        <div [ngClass]="{'disabled': isRightNavOpen}" [ngClass]="{'hidden': i === (columnsToDisplay.length - 1)}" (mouseover)="mouseover(i)" (mouseleave)="mouseout()" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div fxFlex fxLayout="row">
            <div fxLayoutAlign="start center">
              <span>{{element[column]}}</span>
            </div>
            <div *ngIf="hoveredIndex === i && selectedIndex === null" fxFlex fxLayoutAlign="end center" [ngClass]="{'hidden': isRightNavOpen}">
              <img (click)="onExpand(element, column)" matTooltip="Edit {{ getToolTipMsg(column) | titlecase }}" [src]="svgPath + 'edit-icon-blue.svg'">
            </div>
          </div>
        </div>

        <div [ngClass]="{'hidden': i !== (columnsToDisplay.length - 1)}" fxLayoutAlign="start center" fxLayoutGap="10px">
          <il-dropdown-select-search [ngClass]="{'disabled': isRightNavOpen}" matTooltip="Select Tag" *ngIf="($tags | async).length > 0" (click)="getTerm(element)" [placeholder]="'Select Tag'" [items]="($tags | async)"
            (valueEmitter)="onTagUpdate($event, element?.id)" [selectedItem]="element?.contract_tag?.id"></il-dropdown-select-search>
          <img matTooltip="Delete Term" (click)="onDeleteTerm(element?.id)" [ngClass]="{'hidden': isRightNavOpen}" [src]="svgPath + 'delete-icon-red.svg'">
          <p-inputSwitch [ngClass]="{'hidden': !isRightNavOpen}"></p-inputSwitch>
        </div>
      </td>
    </ng-container>

    <!-- collapsed detail -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell class="row-detail" *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" fxLayoutGap="20px">
          <div fxFlex="23.5">
            <span *ngIf="selectedCol && element?.term_name !== selectedCol">{{ element?.term_name }}</span>
            <div *ngIf="element?.term_name === selectedCol">
              <il-input hasBorder="true" [form]="form" isFloatLabel="'true'" [controlName]="'term_name'" placeholder="Name"></il-input>
              <div *ngTemplateOutlet="detailBtnActions"></div>
            </div>
          </div>
          <div fxFlex>
            <span *ngIf="selectedCol && element?.term_description !== selectedCol">{{ element?.term_description }}</span>
            <div *ngIf=" element?.term_description === selectedCol" fxLayout="column">
              <il-textarea [rows]="5" hasBorder="true" [form]="form" isFloatLabel="true" [controlName]="'term_description'" placeholder="Description"></il-textarea>
              <div *ngTemplateOutlet="detailBtnActions"></div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; let element; columns: columnsToDisplay;" class="element-row" [ngClass]="{'element': true, 'hidden': isHidden(element)}">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

  <!-- footer actions -->
  <div fxLayout="row" class="table-footer">
    <div [ngClass]="{'hidden': actionState, 'disabled': isRightNavOpen}" fxFlex fxLayoutAlign="center center" fxLayoutGap="15px">
      <img matTooltip="Show Menu Actions" (click)="actionState = !actionState" [src]="svgPath + 'add-icon-gray.svg'" />
      <img *ngIf="contract_category" matTooltip="Delete Category" (click)="onDelete(contract_category?.id)" [src]="svgPath + 'delete-icon-gray.svg'" />
    </div>
    <div fxFlex [ngClass]="{'hidden': !actionState}" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <div matTooltip="Add a term" (click)="createTerm()" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img [src]="svgPath + 'add-category-icon-blue.svg'" />
        <span>Add a term</span>
      </div>
      <div matTooltip="Add a title" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img [src]="svgPath + 'add-title-icon-blue.svg'" />
        <span>Add a title</span>
      </div>
      <div matTooltip="Import Template" fxLayoutAlign="start center" fxLayoutGap="5px">
        <img [src]="svgPath + 'templates-icon-blue.svg'" />
        <span>Import template</span>
      </div>
    </div>
    <div [ngClass]="{'hidden': !actionState}" fxFlex="10px" fxLayoutAlign="end center" fxLayoutGap="5px">
      <img matTooltip="Close menu action" class="close" (click)="actionState = !actionState" [src]="svgPath + 'close-icon-gray.svg'" />
    </div>
  </div>
</div>

<ng-template #detailBtnActions>
  <div class="element-detail__name" fxLayoutGap="10px">
    <button mat-flat-button class="il-button default" (click)="onClose(pnl)">Cancel</button>
    <button mat-flat-button class="il-button primary" (click)="onSave()">Save</button>
  </div>
</ng-template>
