@import "src/styleguide/shared";
il-editor {
  margin-bottom: 15px;
}
.edit-description {
  padding: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}
.write-term {
  color: $color-gray-2;
  font-size: 12px;
  font-style: italic;
}
.table-footer {
  background-color: $color-white;
  padding: 10px;
  span {
    font-size: 12px;
    font-weight: 500;
    color: $color-primary;
  }
  img {
    cursor: pointer;
  }
  > div > div {
    cursor: pointer;
    width: fit-content;
  }
}
table {
  width: 100%;
}
::ng-deep {
  .mat-tab-header,
  .mat-tab-nav-bar {
    border-bottom: 1px solid $color-gray-3 !important;
  }
  p-inputswitch {
    @include il-input-switch;
  }
}
.edit-content {
  height: 20px;
  margin-top: 15px;
}
.btn-edit__actions {
  margin-bottom: 20px;
}
:host ::ng-deep {
  p {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  td.mat-cell {
    vertical-align: top;
  }
  .row-detail .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
    display: none !important;
  }
  td.mat-cell {
    &:first-child {
      width: 300px;
      .text-edit,
      .text-display {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    &:nth-child(2) {
      padding-top: 13px;
      > div > div {
        &:nth-child(2) {
          position: relative;
          top: -3px;
        }
      }
    }
    > div {
      min-height: 32px;
    }
  }
  td.mat-cell:not(:last-child) > div {
    margin-right: 20px;
  }
  mat-footer-row,
  mat-header-row,
  mat-row,
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    border-bottom-color: $color-gray-3 !important;
  }
  il-dropdown-select-search {
    height: 30px;
    margin-bottom: 9px;
  }
  .mat-select-value-text {
    font-size: 14px !important;
    float: right;
    margin-right: 10px;
    height: 16px;
  }
  il-dropdown-select-search .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0 !important;
    display: none !important;
  }
  p-inputswitch .ui-inputswitch-slider {
    left: 3px;
  }
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  th.mat-header-cell:last-of-type {
    padding-right: 15px !important;
    padding-top: 5px;
  }
  td.mat-cell:not(last-child) {
    cursor: pointer;
  }
  td.mat-cell:last-child {
    width: 175px;
  }
  .mat-table thead {
    display: none !important;
  }
}
