<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div cdkDrag (cdkDragStarted)="dragStarted(true)" *ngFor="let item of items; let i= index" class="list-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div (mouseover)="mouseover(i)" (mouseleave)="mouseout()">
      <div fxFlex fxLayoutAlign="start center" fxLayoutGap="10px">
        <img cdkDragHandle [src]="svgPath + 'drag-icon.svg'" />
        <span *ngIf="selectedIndex !== i">{{item?.question_name}}</span>
        <mat-form-field *ngIf="selectedIndex === i" floatLabel="never">
          <input matInput [value]="item?.question_name" (input)="onEdit(item, $event?.target.value)">
        </mat-form-field>
      </div>
      <div fxFlex="50px" class="pnl-actions" fxLayoutAlign="center center">
        <div class="menu-icon" *ngIf="hoveredIndex === i && selectedIndex !== i" fxLayoutGap="10px">
          <img (click)="selectedIndex = i" [src]="svgPath + 'edit-icon-blue.svg'" matTooltip="Edit question" />
          <img *appHasRole="'admin'" [src]="svgPath + 'delete-icon-red.svg'" (click)="onDelete(item?.id)" matTooltip="Delete question">
        </div>
        <div class="menu-icon" *ngIf="hoveredIndex === i && selectedIndex === i" fxLayoutGap="10px">
          <img [src]="svgPath + 'close-icon-blue.svg'" (click)="onClose()" matTooltip="Close" matTooltip="Close" />
          <img [src]="svgPath + 'save-icon-blue.svg'" (click)="onSave()" matTooltip="Save question" matTooltip="Save question">
        </div>
      </div>
    </div>
  </div>
  <div class="list-item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <img [src]="svgPath + 'add-icon-gray.svg'" matTooltip="Add question" (click)="onAddQuestion($event)" />
  </div>
</div>
