<p-confirmDialog [style]="{width: '50vw'}" key="productSpecs"></p-confirmDialog>
<div fxLayout="column">
  <div>
    <div fxLayout="row" fxLayoutGap="5px">
      <div class="tab-header">
        <div [ngClass]="{'disabled': inCheckListing}" fxLayoutAlign="center center">
          <span>{{ contractCategory?.category?.category_name }}</span>
          <div  fxFlex fxLayoutAlign="end center" [ngClass]="{'hidden': inCheckListing}">
          <img *ngIf="!inCheckListing" [matTooltip]="'Edit Category Name' | translate" class="save-icon" (click)="UpdateCategoryName(contractCategory?.category)" [src]="svgPath + 'edit-icon-blue.svg'" />
        </div>
        </div>
      </div>
      <img *ngIf="!inCheckListing" [matTooltip]="'Update Category Name' | translate" class="save-icon" (click)="saveCategoryAsTemplate(contractCategory?.category)" [src]="svgPath + 'save-icon-blue.svg'" />
    </div>
    <mat-tab-group class="il-tab">
      <mat-tab class="tab-1">
        <ng-template matTabContent>
          <il-contract-category-table (categoryTermEmitter)="onToggleTerm($event)" [inCheckListing]="inCheckListing" [contractCategory]="contractCategory"></il-contract-category-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
