@import "src/styleguide/shared";
.il-button {
  @include il-button;
}
.il-dialog {
  width: 672px !important;
  height: 448px !important;
  padding: 20px;
  > div {
    &:first-child {
      width: 100%;
    }
  }
  .close {
    cursor: pointer;
  }
  .content {
    padding: 10px 50px;
    > div {
      width: 100%;
    }
  }
  .content,
  .header > div {
    width: 100%;
  }
  button {
    min-width: 100px;
    width: fit-content;
  }
}
