@import "src/styleguide/shared";
.card-row {
  border-bottom: thin $color-gray-3 solid;
}
.details-container {
  padding: 0 30px;
}
.action-btns {
  margin-top: 20px;
  margin-bottom: 10px;
}
.il-button {
  @include il-button;
}
:host ::ng-deep {
  .card-row {
    padding: 15px 5px;
  }
  il-dropdown-select {
    max-width: 250px !important;
  }
}