<mat-card class="setting-card">
  <div *ngIf="form" fxLayout="column">
    <div class="card-row">
      <div fxFlex fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="img-box">
            <img [src]="svgPath + 'user-icon-blue.svg'" />
          </div>
          <h2>Personal details</h2>
        </div>
        <div class="details-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="firstname" placeholder="First Name"></il-input>
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="lastname" placeholder="Last Name"></il-input>
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="phone" placeholder="Phone Number"></il-input>
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="email" placeholder="Email" [inputType]="'email'"></il-input>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div fxFlex fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="img-box">
            <img [src]="svgPath + 'venues-icon-blue.svg'" />
          </div>
          <h2>Company details</h2>
        </div>
        <div class="details-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="company_name" placeholder="Company Name"></il-input>
          <il-input fxFlex="50" [form]="form" isFloatLabel="true" controlName="company_address" placeholder="Company Address"></il-input>
        </div>
      </div>
    </div>
    <!--  <div class="card-row">
     <div  fxFlex fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="img-box">
            <img [src]="svgPath + 'credit-card-icon-blue.svg'" />
          </div>
          <h2>Billing details</h2>
        </div>
        <div class="details-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="cardHolderName" placeholder="Cardholder Name"></il-input>
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="cardNumber" placeholder="Card Number"></il-input>
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="cvv" placeholder="CVV/CSV"></il-input>
        </div>
      </div>
    </div> -->
    <!-- <div class="card-row">
      <div fxFlex fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="img-box">
            <img [src]="svgPath + 'lock-icon-blue.svg'" />
          </div>
          <h2>Password</h2>
        </div>
        <div class="details-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
          <il-input fxFlex="25" [form]="form" isFloatLabel="true" controlName="password" placeholder="Password" [inputType]="'password'"></il-input>
          <button mat-flat-button class="il-button primary">Change password</button>
        </div>
      </div>
    </div> -->
    <div class="action-btns" fxLayout="row" fxLayoutAlign="center center">
      <button (click)="updateProfile()" mat-flat-button class="il-button primary large">Save settings</button>
    </div>
  </div>
</mat-card>