@import "src/styleguide/shared";
.chart-container{
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 20px;
}
.chart-container-inner {
  height: 250px;
}
h2 {
  line-height: 32px;
  color: $color-black-2;
}
:host ::ng-deep {
  .mat-expansion-panel-header {
    height: 45px !important;
  }
  .mat-expansion-panel-body {
    padding: 0 !important;
    background-color: $color-white !important;
  }
  .mat-list {
    width: 100%;
    background: $color-white-1;
    padding: 10px 5px;
    
    .mat-list-item {
      height: 65px;
    }
    .mat-list-item:not(:last-child) {
      border-right: 1px solid $color-gray-2;
    }
    .mat-list-item-content {
      display: block;
      padding: 0 20px;
      h5 {
        margin-right: 8px;
        color: $color-black-3;
      }
    }
  }
  .mat-table {
    width: 100%;
    margin-top: 0 !important;
    .mat-header-cell {
      background: $color-white-1;
    }
  }

}