<div>
  <il-expandable-panel title="Inspections" [expanded]="true">
    <div fxLayout="column" fxLayoutGap="20px">
      <div class="detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-list fxLayout="row">
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <h5>Total items checked</h5>
            <h2>{{ barChartSummary?.itemCount}}</h2>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <h5>Total inspection time</h5>
            <h2>{{barChartSummary?.totalRuntime}}</h2>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <h5>Average duration per item</h5>
            <h2></h2>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <h5>Start date</h5>
            <h2>{{ barChartSummary?.runStart }}</h2>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <h5>End date</h5>
            <h2>{{ barChartSummary?.runEnd }}</h2>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="chart-container">
      <div class="chart-container-inner">
        <p-chart type="bar" [options]="insChartOptions" [data]="barChartData"></p-chart>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="inspector">
        <th mat-header-cell *matHeaderCellDef> Inspector </th>
        <td mat-cell *matCellDef="let items"> {{items?.inspector}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let items"> {{items?.date}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let items"> {{items?.duration}} </td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Items </th>
        <td mat-cell *matCellDef="let items"> {{items?.items}} </td>
      </ng-container>

      <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef> Average duration per item </th>
        <td mat-cell *matCellDef="let items"> {{items?.average}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </il-expandable-panel>
</div>