@import "src/styleguide/shared";
.il-button {
  @include il-button;
}
.il-dialog {
  @include il-dialog;
  width: 672px !important;
  .content {
    padding: 40px 88px !important;
    min-height: 406px !important;
    height: 406px !important;
  }
}
img {
  cursor: pointer;
}
:host ::ng-deep {
  .mat-focused .mat-form-field-underline {
    background-color: $color-primary !important;
  }
  mat-checkbox span {
    font-size: 14px;
  }
}
