@import "src/styleguide/shared";
.header {
  > div {
    &:first-child {
      height: 30px;
      min-height: 30px;
    }
    &:nth-child(2) {
      height: 40px;
      min-height: 40px;
    }
  }
}
.il-button {
  @include il-button;
}
.il-dialog {
  @include il-dialog;
  width: 672px !important;
  .content {
    padding: 20px 30px !important;
    min-height: 375px !important;
    height: 375px !important;
  }
}
.terms-conditions-text {
  font-size: 14px;
}
img {
  cursor: pointer;
}
:host ::ng-deep {
  .mat-focused .mat-form-field-underline {
    background-color: $color-primary !important;
  }
  mat-checkbox span {
    font-size: 14px;
  }
}
