@import "src/styleguide/shared";
.chart-container{
  overflow-x: auto;
  padding: 0px 20px;
}
.chart-container-inner {
  height: 220px;
}
h2 {
  line-height: 32px;
}
.close {
  color: $color-red;
}
.circle-graphs {
  padding: 20px 0px 10px;

  div:first-of-type {
    color: $color-gray-2;
  }
}
:host ::ng-deep {
  .mat-expansion-panel-body {
    padding:  0 !important;
    background-color: $color-white !important;
  }
  .mat-list {
    width: 100%;
    background: $color-white-1;
    padding: 0 5px;
    
    .mat-list-item {
      height: 65px;
    }
    .mat-list-item:not(:last-child) {
      border-right: 1px solid $color-gray-2;
    }
    .mat-list-item-content {
      display: block;
      padding: 0 20px;
    }
  }
  .mat-table {
    width: 100%;
    margin-top: 20px;

    .mat-header-cell {
      background: $color-white-1;
    }
  }

}