@import "src/styleguide/shared";
.btn-div {
  height: 41px;
}
.logo {
  height: 50px;
  width: auto;
  margin-bottom: 10px;
}
label {
  font-size: 12px;
  margin-bottom: 5px;
  color: $color-black-3;
}
.login-container {
  h2 {
    margin-bottom: 20px;
  }
  background-color: $color-black-1;
}
.mat-card {
  width: 450px;
  padding: 30px 55px 20px;
  border-radius: 2px;
}
.il-button {
  @include il-button;
  margin-top: 20px;
}
.il-button.large {
  width: 100% !important;
}
.content {
  width: 100%;
  > div {
    width: 100%;
  }
}
.error {
  height: 25px;
}
:host ::ng-deep {
  .ui-chkbox-label {
    cursor: pointer;
    font-size: 12px;
  }
  .mat-form-field-infix{
    background-color: $color-gray-5;
  }
  mat-card {
    margin-bottom: 65px;
  }
  p-checkbox {
    position: relative;
    top: -7px;
  }
  .il-input input.mat-input-element {
    line-height: 20px;
    padding: 0 10px;
    top: 0.4px !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-top: 7px;
  }
  .mat-form-field-label-wrapper {
    top: -12px;
    left: 5px !important;
  }
  .pi-spinner {
    font-size: 2em !important;
  }
  .il-input input.mat-input-element {
    line-height: 25px;
    height: 35px !important;
    padding-bottom: 0;
    margin-bottom: 1px;
  }
}
