@import "src/styleguide/shared";
.logo {
  height: 50px;
  width: auto;
  margin-bottom: 10px;
}
label {
  font-size: 12px;
  margin-bottom: 5px;
  color: $color-black-3;
}
.login__container {
  h2 {
    margin-bottom: 20px;
  }
  background-color: $color-black-1;
}
.mat-card {
  width: 450px;
  padding: 30px 55px 50px;
  border-radius: 2px;
}
.il-button {
  @include il-button;
  margin-top: 20px;
}
.il-button.large {
  width: 100% !important;
}
.content {
  width: 100%;
  > div {
    width: 100%;
  }
}
:host ::ng-deep {
  .pi {
    font-size: 2em !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }
  .il-input input.mat-input-element {
    line-height: 25px;
    height: 35px !important;
    padding-bottom: 5px;
  }
}
