<div [formGroup]="form" class="login-container" fxLayoutAlign="center center" fxFlexFill>
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <img class="logo" [src]="imgPath + 'logo.png'" />

        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <div>
            <div fxLayout="column">
              <label>{{ 'Email' | translate }}</label>
              <il-input fxFlex="50" [form]="form" hasBorder="true" isFloatLabel="true" controlName="username" [placeholder]="'Enter Username or Email' | translate"></il-input>
            </div>
            <div fxLayout="column">
              <label>{{ 'Password' | translate }}</label>
              <il-input class="password" inputType="password" fxFlex="50" [form]="form" hasBorder="true" isFloatLabel="true" controlName="password" placeholder="Password"></il-input>
            </div>
          </div>
          <div fxLayoutAlign="start center">
            <p-checkbox [label]="'Remember Me' | translate"></p-checkbox>
          </div>
          <button [disabled]="!form.valid" (click)="onSubmit()" mat-flat-button class="il-button primary large" fxLayoutGap="5px">
            <div class="btn-div" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <i *ngIf="($isLogging | async) && !($isLoginFailed | async)" class="pi pi-spin pi-spinner" style="font-size: 2em"></i>
              <div fxLayout="row" fxLayoutAlign="center center">{{ 'LOGIN' | translate }}</div>
            </div>
          </button>
          <div class="error"><span *ngIf="loginError">{{ 'Login Failed' | translate }}</span>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>