<div [formGroup]="form" class="login-container" fxLayoutAlign="center center" fxFlexFill>
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <img class="logo" [src]="imgPath + 'logo.png'" />

        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <!-- <div fxLayout="column">
            <label>Company</label>
            <il-input fxFlex="50" [form]="form" hasBorder="true" isFloatLabel="true" controlName="company" placeholder="Enter Company Name"></il-input>
          </div> -->
          <div>
            <div fxLayout="column">
              <label>Email</label>
              <il-input fxFlex="50" [form]="form" hasBorder="true" isFloatLabel="true" controlName="username" placeholder="Enter Username or Email"></il-input>
            </div>
            <div fxLayout="column">
              <label>Password</label>
              <il-input class="password" inputType="password" fxFlex="50" [form]="form" hasBorder="true" isFloatLabel="true" controlName="password" placeholder="Password"></il-input>
            </div>
          </div>
          <div fxLayoutAlign="start center">
            <p-checkbox label="Remember Me"></p-checkbox>
          </div>
          <button [disabled]="!form.valid" (click)="onSubmit()" mat-flat-button class="il-button primary large" fxLayoutGap="5px">
            <div class="btn-div" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <i *ngIf="($isLogging | async) && !($isLoginFailed | async)" class="pi pi-spin pi-spinner" style="font-size: 2em"></i>
              <div>LOGIN</div>
            </div>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>