/* yeah we do this all the time to override what is set in contract category alignmnent */
@mixin adjust-dropdown-overlay($adjust: false) {
  @if $adjust {
    margin-left: -44px !important;
    margin-bottom: 35px !important;
  } @else {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }
}
