@import "src/styleguide/shared";

.product-list {
  border-bottom: 1px solid $color-gray-3;
  height: 48px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
}
.product-list.first {
  border-top: 1px solid $color-gray-3;
}
:host ::ng-deep {
  .il-pill {
    margin-right: 5px;
    cursor: default;
  }
}
