<div class="col-header" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div *ngFor="let col of colsHeader" [fxFlex]="col?.value">{{ col?.label | translate }}</div>
</div>
<div *ngIf="activeInspections" class="il-draggable-expansion">
  <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel (click)="expandPnl(pnl, $event, i)" cdkDrag (cdkDragStarted)="dragStarted(true)" #pnl="matExpansionPanel" *ngFor="let item of activeInspections; let i = index" hideToggle="true">

      <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation()" (keydown.Enter)="$event.stopImmediatePropagation()" (click)="onClickPnl(pnl, $event, i)" (mouseover)="mouseover(i)" (mouseleave)="mouseout()">
        <div class="pnl-header" fxLayout="row" fxLayoutGap="10px">
          <img cdkDragHandle [src]="svgPath + 'drag-icon.svg'" />
          <div fxFlex="35" [matTooltip]="item?.title" fxLayoutAlign="start center">
            <span>{{item?.checklist_contract?.contract_name}}</span>
          </div>
          <div fxFlex="35" class="assigned-to" [matTooltip]="item?.user?.username" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="img-circle">
              <img *ngIf="item?.user?.image" [src]="apiImagePath + item?.user?.image" />
              <img *ngIf="!item?.user?.image" [src]="imgPath + 'no-image.png'" />
            </div>
            <span>{{ item?.user?.username }}</span>
          </div>
          <div fxFlex="20" [matTooltip]="item?.desired_run_date" fxLayoutAlign="start center">
            <span>{{ item?.desired_run_date | date: 'MM/dd/yyyy' }}</span>
          </div>
          <div fxFlex="10" fxLayoutAlign="start center">
            <span>{{ item?.run_count }}</span>
          </div>
          <div class="action-col" fxFlex="5" fxLayoutAlign="end center">
            <img [src]="svgPath + 'dots-icon-blue.svg'" [matMenuTriggerFor]="menu" />
            <mat-menu #menu="matMenu">
              <ng-container *ngIf="!item?.isViewing">
                <button *ngFor="let menu of menus; let last = last; let i = index" [ngClass]="{'hidden': hideReportIfNoInspectionRun(item?.inspection_checklist_run, menu)}" (click)="menu?.action(item)" mat-menu-item fxLayout="row"
                  fxLayoutAlign="start center" fxLayoutGap="10px">
                  <img [ngClass]="{'w-18': last}" [src]="svgPath + menu?.icon" />
                  <span>{{ (item?.is_paused && i === 0 ? 'RESUME' : menu?.label) | translate }}</span>
                </button>
              </ng-container>
              <button *ngIf="item?.isViewing" [disabled]="item?.run_count === 0" (click)="onView(item?.id)" mat-menu-item fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <span>{{ (item?.run_count === 0 ? 'Not run yet': 'View') | translate }}</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-expansion-panel-header>

      <il-inspection-panel-detail *ngIf="!isCategory" [detail]="item"></il-inspection-panel-detail>
    </mat-expansion-panel>
  </mat-accordion>
</div>