@import "src/styleguide/shared";
.col-header {
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  height: 48px;
  margin-bottom: 0 !important;
  color: $color-gray-1;
  background-color: $color-white;
  padding-left: 15px;
  padding-right: 10px;
}
.pnl-header {
  &:nth-child(2) {
    @include truncate;
  }
  &:nth-child(3) {
    width: 250px;
    @include truncate;
  }
}
.img-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
.il-button {
  @include il-button;
}
.il-draggable-expansion {
  @include il-draggable-expansion;
  box-shadow: $box-shadow;
}
:host ::ng-deep {
  .mat-expansion-panel-header {
    padding-right: 10px;
    padding-left: 15px;
  }
  .il-pill {
    img {
      display: none !important;
    }
  }
}
::ng-deep {
  .cdk-drag-preview {
    border-radius: 0 !important;
    @extend .il-draggable-expansion;
  }
}
