<div class="col-header" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div *ngFor="let col of colsHeaders" [fxFlex]="col?.width">{{ col?.label }}</div>
</div>
<div class="il-draggable-expansion">
  <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel (click)="expandPnl(pnl, $event, i)" cdkDrag (cdkDragStarted)="dragStarted(true)" #pnl="matExpansionPanel" *ngFor="let item of activeInspections; let i = index" hideToggle="true">

      <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation()" (keydown.Enter)="$event.stopImmediatePropagation()" (click)="onClickPnl(pnl, $event, i)" (mouseover)="mouseover(i)" (mouseleave)="mouseout()">
        <div *ngIf="activeInspections" class="pnl-header" fxLayout="row" fxLayoutGap="10px">
          <img cdkDragHandle [src]="svgPath + 'drag-icon.svg'" />
          <div fxFlex="35" class="contact-title" [matTooltip]="item?.title" fxLayoutAlign="start center">
            <span>{{item?.checklist_contract?.contract_name}}</span>
          </div>
          <div fxFlex="35" class="assigned-to" [matTooltip]="item?.user?.username" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="img-circle">
              <img [src]="apiImagePath + item?.user?.image" />
            </div>
            <span>{{ item?.user?.username }}</span>
          </div>
          <div fxFlex="20" [matTooltip]="item?.desired_run_date" fxLayoutAlign="start center">
            <span>{{ item?.desired_run_date | date: 'MM/dd/yyyy' }}</span>
          </div>
          <div fxFlex="10" fxLayoutAlign="start center">
            <span>Run Count: {{i}}</span>
          </div>
          <div class="action-col" fxFlex="5" fxLayoutAlign="end center">
            <il-popover-menu [menus]="menus" class="action-col" (click)="$event.stopPropagation();"></il-popover-menu>
          </div>
        </div>
      </mat-expansion-panel-header>

      <il-inspection-panel-detail *ngIf="!isCategory" [products]="item?.products"></il-inspection-panel-detail>
    </mat-expansion-panel>
  </mat-accordion>
</div>