@import "src/styleguide/shared";
.mat-table {
  width: 100%;
}
.col-dialog {
  cursor: pointer;
}
td.mat-cell {
  font-size: 14px;
  color: $color-black-1;
  text-transform: capitalize;
}
.is-child {
  background-color: $color-gray-5;
  span {
    padding-left: 5px;
  }
}