@import "src/styleguide/shared";
:host ::ng-deep {
  .ui-autocomplete {
    width: 100% !important;
    .ui-autocomplete-input {
      border: none !important;
      border-bottom: 1px solid $color-gray-3 !important;
      border-radius: 0;
      width: 100% !important;
    }
  }
  p-autocomplete {
    position: relative;
    top: -3px;
    &.ng-invalid.ng-touched .ui-autocomplete-input {
      border-bottom: thin $color-red solid !important;
    }
    &.ui-inputwrapper-focus .ui-autocomplete-input {
      border-bottom: 2px $color-primary solid !important;
    }
  }
}
