@import "src/styleguide/shared";
.il-rightnav {
  @include rightnav;
  .upper-pane {
    height: 100%;
    overflow: hidden;
  }
}
.detail-container {
  margin-bottom: 0;
  > div {
    color: $color-black-1;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    width: 25%;
    div:first-child {
      font-size: 12px;
      color: $color-gray-1;
      margin-bottom: 2px;
    }
  }
  > div:first-child {
    margin-right: 40px;
    margin-left: 5%;
  }
}
.action-item {
  font-size: 12px;
  font-weight: 500;
  color: $color-primary;
  min-width: 70px;
  cursor: pointer;
  img {
    min-width: 15px;
  }
  .delete {
    color: $color-red;
  }
}
.image-list {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  > div {
    margin: 10px;
    background-color: $color-white;
  }
}
.img {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: default;
  border-radius: 4px;
  box-shadow: $box-shadow;
  border: thin $color-gray-3 solid;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  cursor: move;
  @extend .img;
}
.cdk-drag-placeholder {
  opacity: 1;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.image-list.cdk-drop-list-dragging .image-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  cursor: default;
}
.drag-placeholder {
  background: $color-gray-3;
  border: dotted 2px $color-gray-2;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  width: 100px;
  min-width: 100px;
  min-height: 100px;
  cursor: move;
}
:host ::ng-deep {
  .image-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .il-rightnav-bottom .ui-sidebar {
    z-index: 1002;
    opacity: 1;
    height: 75px;
    top: calc(100% - 75px);
    width: 200px;
  }
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-label .mat-tab-label-content {
    width: 100%;
  }
  .mat-tab-label-content {
    height: 50px;
    position: relative;
    left: -7px;
  }
  .mat-tab-label {
    background-color: transparent;
    padding: 0;
    opacity: 1 !important;
    width: 310px;
  }
  .mat-card {
    padding: 0 !important;
  }
}
@media (max-width: 1280px) {
  .image-container {
    width: 1150px;
  }
}
