<div *ngIf="($contract | async) as contract" fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row">
    <h1>{{ contract?.contract_name }}</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="15px">
    <div class="action-item" *ngFor="let option of options" (click)="option?.action()" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img [src]="svgPath + option?.icon" />
      <span [matTooltip]="option?.label">{{ option?.label }}</span>
    </div>
    <div *appHasRole="'admin'" class="action-item delete" (click)="onDeleteContract()" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img [src]="svgPath + 'delete-icon-red.svg'" />
      <span matTooltip="Delete Contract">Delete Contract</span>
    </div>
    <div class="action-item delete" (click)="onReport()" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img [src]="svgPath + 'print-icon.svg'" />
      <span matTooltip="Report">Report</span>
    </div>
  </div>
  <mat-card>
    <div fxLayout="column">
      <div class="card-row" [ngClass]="{'reduce-opacity': showRightNav == true}">
        <div fxFlex fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="img-box">
              <img [src]="svgPath + 'doc-icon-blue.svg'" />
            </div>
            <h2>Contract</h2>
          </div>
          <!-- contract details -->
          <div fxLayout="row">
            <div fxFlex="40" class="detail-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
              <div>
                <div>Company</div>
                <div>{{ contract?.venue?.name }}</div>
              </div>
              <div>
                <div>Responsible Person</div>
                <div>{{ contract?.responsible_person || 'None' }}</div>
              </div>
              <div>
                <div>Upload Date</div>
                <div>{{ contract?.created_at | date: 'dd/MM/yyyy'}}</div>
              </div>
            </div>
            <!-- contract images -->
            <div fxFlex="60">
              <div *ngIf="hasImgs" class="cdk-virtual-scroll">
                <div cdkDropList (cdkDropListDropped)="dropImages($event)" fxLayout="row" class="image-list" cdkDropListOrientation="horizontal" fxLayoutAlign="end center">
                  <div *ngFor="let image of getContractImages; trackBy: trackByField" class="drag-box" cdkDrag [cdkDragDisabled]="showRightNav" [cdkDragData]="image" fxLayoutAlign="center center">
                    <div class="drag-placeholder" *cdkDragPlaceholder></div>
                    <div *ngIf="image && image?.filename" class="img" [ngStyle]="{'background-image': getBg(imgUrl +  image?.filename)}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contract products -->
      <div *ngIf="($contract | async)" class="card-row">
        <il-contract-detail-products [contract]="($contract | async)" [inCheckListing]="showRightNav"></il-contract-detail-products>
      </div>
    </div>
  </mat-card>
  <!-- contract category tabs -->
  <div fxLayout="column" fxLayoutGap="20px" cdkDropList (cdkDropListDropped)="dropSpecs($event)">
    <div *ngFor="let category of contractCategories" fxLayoutGap="20px">
      <il-contract-category (categoryTermEmitter)="onToggleTerm($event)" [inCheckListing]="showRightNav" [contractCategory]="category" (removeProductSpecEmitter)="handleRemoveProductSpecs($event)"></il-contract-category>
    </div>
  </div>

  <p-sidebar class="il-rightnav" [(visible)]="showRightNav" position="right" [showCloseIcon]="false">
    <div class="upper-pane">
      <il-contract-right-content [form]="formChecklist" (closeEmitter)="onCloseRighNav($event)"></il-contract-right-content>
    </div>
  </p-sidebar>

  <p-sidebar class="il-rightnav-bottom" [(visible)]="showRightNav" position="right" [showCloseIcon]="false">
    <div fxlayout="row" fxLayoutAlign="center center" fxFlexFill>
      <button type="button" (click)="onSaveChecklist()" [disabled]="!isChecklistValid" mat-flat-button class="il-button primary">Save</button>
    </div>
  </p-sidebar>
</div>