<div class="right-content" fxLayout="column" fxFlexFill>
  <div>
    <div fxFlex>Create new Checklist</div>
    <div (click)="closeEmitter.emit(true)" fxFlex="15px">
      <img class="close-icon" [src]="svgPath + 'close-icon-gray-16x16.svg'" />
    </div>
  </div>

  <div class="tab-group">
    <mat-tab-group>
      <mat-tab label="New Checklist">
        <div class="new-template" fxLayout="column" fxLayoutGap="10px">
          <div>
            <il-dropdown-select [options]="($users | async)" [form]="form" [controlName]="'assignedTo'" placeholder="Assigned To"></il-dropdown-select>
            <il-datepicker [form]="form" [controlName]="'desiredRunDate'" [placeholder]="'Desired run date'"></il-datepicker>
          </div>
          <div class="content" fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="50" fxLayoutAlign="end center" (click)="addAql()">AQL</div>
              <div fxFlex="50" fxLayoutAlign="start center" (click)="addBrief()">Brief </div>
            </div>
            <div>
              <h5>Select terms for inspection</h5>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Saved Checklist">
        <div fxLayout="column" fxLayoutAlign="start start">
          <div *ngIf="($savedChecklist | async) as savedChecklists" fxLayout="column" class="saved-checklist-list">
            <div *ngFor="let item of savedChecklists" (click)="getChecklist(item?.id)" class="temp-row" fxLayout="column" fxLayoutGap="5px">
              <div>{{ item?.checklist_name }}</div>
              <div [matTooltip]="item?.user?.username">Inspector: {{ item?.user?.username }}</div>
              <div>Date: {{ item?.desired_run_date | date:"short" }}</div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>