<tr fxLayout="row" fxLayoutGap="20px">
  <td fxFlex="200px">{{row?.contract_term?.term_name}}</td>
  <td fxFlex>
    <div [innerHTML]="row?.contract_term?.term_description"></div>
  </td>
  <td fxFlex="120px">
    <il-radio-group [disabled]="isPaused" [name]="row?.id" [selected]="rowUpdate?.comment?.verification" (valueEmitter)="handleSelOption($event, row)" [options]="verifOptions">
    </il-radio-group>
  </td>
  <td fxFlex="120px">
    <button *ngIf="isVerified(row?.comment?.verification)" (click)="showComment(row?.comment?.id)" class="il-button purple" mat-flat-button>
      <span>Remarks</span>
    </button>
  </td>
</tr>