<tr fxLayout="row" fxLayoutGap="20px">
  <td fxFlex="200px">{{term?.contract_term?.term_name}} {{ term?.position }}</td>
  <td fxFlex>
    <div [innerHTML]="term?.contract_term?.term_description"></div>
  </td>
  <td fxFlex="120px">
    <il-radio-group [disabled]="isPaused" [selected]="rowUpdate?.comment?.verification" (valueEmitter)="handleSelOption($event)" [options]="verifOptions">
    </il-radio-group>
  </td>
  <td fxFlex="120px">
    <button *ngIf="isVerified(term?.comment?.verification)" (click)="showComment(term?.comment?.id)" class="il-button purple" mat-flat-button>
      <span>Remarks</span>
    </button>
  </td>
</tr>