@import "src/styleguide/shared";
.il-button {
  @include il-button;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: $color-white;
}
tr td {
  &:first-child {
    width: 100px;
    max-width: 100px;
  }
  &:nth-child(2) {
    width: 100%;
  }
  &:nth-child(3) {
    width: 100px;
  }
  &:nth-child(4) {
    width: 100px;
  }
}
.qr-header {
  background-color: $color-white;
  height: 56px;
  width: 100%;
  opacity: 1;
}
.category {
  background-color: $color-white;
  padding: 10px;
  border-bottom: thin $color-gray-3 solid;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  color: $color-black-2;
}
:host ::ng-deep {
  mat-radio-group {
    min-height: 105px !important;
  }
  .mat-radio-button {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
