<div fxLayout="column" fxLayoutGap="20px">
  <div *ngFor="let source of dataSource">
    <div class="category">
      <h4>{{ source?.category?.category_name }}</h4>
    </div>
    <table>
      <tr>
        <th fxFlex="220px">Term Name</th>
        <th fxFlex>Term Description</th>
        <th fxFlex="250px"></th>
      </tr>

      <ng-container *ngFor="let term of source?.terms; let i = index">
        <il-inspection-run-category-row [isViewing]="isViewing" [source]="source" [term]="term"></il-inspection-run-category-row>
      </ng-container>
    </table>
  </div>
</div>