/* You can add global styles to this file, and also import other style files */
@import "./styleguide/shared";
html,
body {
  margin: 0;
  width: 100%;
  outline: none;
  font-family: "Roboto", sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: #f2f5f8;
}
a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
  font-weight: 550;
}
.hidden {
  display: none !important;
  transition: all 0.5s ease-in;
  opacity: 0;
}
img.close {
  cursor: pointer;
}
*:focus {
  outline: none;
}
.no-records {
  color: $color-gray-1;
  font-size: 24px;
  font-size: 14px;
}
.mat-form-field {
  width: 100%;
}
.mat-menu-panel {
  min-height: 40px !important;
}
.ui-widget-overlay {
  z-index: 99999 !important;
}
.ui-widget-overlay.ui-sidebar-mask {
  opacity: 0 !important;
  display: none;
  z-index: 999 !important;
}
.il-rightnav .ui-sidebar {
  z-index: 1000 !important;
}
.disabled {
  opacity: 0.5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  div,
  img {
    cursor: default !important;
  }
}
.ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: none !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, .1);
}
.link {
  font-size: 14px;
  color: $color-primary !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.error {
  color: $color-red;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 12px;
}
.success {
  color: $color-green;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 12px;
}
.gray-text {
  color: $color-gray-2;
}
@media print {
  script,
  style {
    display: none;
  }
  .hide-in-report {
    display: none !important;
  }
  .page-container {
    margin-top: 0 !important;
    padding: 0 !important;
  }
  /* inspection report */
  .irr-container {
    .mat-expansion-panel {
      box-shadow: none !important;
    }
    .mat-expansion-panel-header {
      page-break-inside: avoid !important;
      span.mat-expansion-indicator {
        display: none !important;
      }
    }
    il-expandable-panel {
      page-break-inside: avoid !important;
    }
    il-inspection-report-failures {
      page-break-inside: avoid !important;
    }
    mat-expansion-panel {
      border-radius: 0 !important;
      border: thin $color-gray-3 solid !important;
      overflow: visible !important;
    }
    .mat-accordion {
      border-radius: 0 !important;
      overflow: visible !important;
    }
    table {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 0 !important;
      thead {
        page-break-inside: avoid !important;
        height: 35px;
        th {
          &:first-child {
            width: fit-content;
            max-width: 100%;
            min-width: 100%;
          }
        }
      }
      tbody {
        overflow: hidden !important;
      }
      tr {
        overflow: visible;
        page-break-inside: avoid !important;
      }

    }
  }
  .router-outlet {
    position: relative;

  }
  il-topnav {
    display: none !important;
  }
  .production-image {
    display: none !important;
  }
  body {
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    min-height: auto !important;
    background-color: $color-white;
    height:100%;
    width: 100%;
  }
  .contract-detail-report-container {
    padding: 0 !important;
    margin: 0 !important;
    .table-category-title {
      border: thin $color-gray-2 solid !important;
      margin-top: 10px;
      th {
        background-color: $color-gray-3 !important;
        font-weight: bold;
      }
    }
    .tab-header {
      display: block;
      page-break-inside: avoid !important;
    }
    table {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 0 !important;
      thead {
        page-break-inside: avoid !important;
        height: 35px;
        th {
          &:first-child {
            width: fit-content;
            max-width: 100%;
            min-width: 100%;
          }
        }
      }
      tbody {
        overflow: visible;
      }
      tr {
        overflow: visible;
        page-break-inside: avoid !important;
      }
      
      th,
      td {
        border-top: thin $color-gray-3 solid;
        overflow: visible;
        page-break-inside: avoid !important;
        p {
          overflow: visible;
          page-break-inside: avoid !important;
          page-break-after: avoid;
          img {
            overflow: visible;
            page-break-inside: avoid !important;
            page-break-after: avoid;
          }
        }
        &:first-child {
          width: fit-content;
          max-width: 100%;
          min-width: 100%;
        }
        &:nth-child(2) {
          width: fit-content;
          max-width: 100%;
          min-width: 100%;
        }
      }
    }
  }
}