/* You can add global styles to this file, and also import other style files */
@import "./styleguide/shared";
html,
body {
  margin: 0;
  width: 100%;
  outline: none;
  font-family: "Roboto", sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: #f2f5f8;
}
a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
  font-weight: 550;
}
.hidden {
  display: none !important;
  transition: all 0.5s ease-in;
  opacity: 0;
}
img.close {
  cursor: pointer;
}
*:focus {
  outline: none;
}
.no-records {
  color: $color-gray-1;
  font-size: 24px;
  font-size: 14px;
}
.mat-form-field {
  width: 100%;
}
.mat-menu-panel {
  min-height: 40px !important;
}
.ui-widget-overlay {
  z-index: 99999 !important;
}
.ui-widget-overlay.ui-sidebar-mask {
  opacity: 0 !important;
  display: none;
  z-index: 999 !important;
}
.il-rightnav .ui-sidebar {
  z-index: 1000 !important;
}
.disabled {
  opacity: 0.5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  div,
  img {
    cursor: default !important;
  }
}
.ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: none !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,.1);
}
.link {
  font-size: 14px;
  color: $color-primary !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.error {
  color: $color-red;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 12px;
}
@media print {
  script, style { 
    display:none; 
  }
  body {
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    min-height: auto !important;
    background-color: $color-white;
    height:100%;
    width: 100%;
  }
  // .production-image {
  //   display: none !important;
  // }
  // il-topnav {
  //   display: none !important;
  // }
  // .page-container {
  //   margin: 0 !important;
  //   padding: 0 !important;
  //   h2, h5 {
  //     font-size: 12px !important;
  //     font-weight: 500 !important;
  //     line-height: 15px !important;
  //   }
  // }
  // il-inspection-report-inspector, il-inspection-report-inspections {
  //   // width: 740px !important;
  //   border-radius: 0 !important;
  // }
  // .mat-expansion-panel {
  //   box-shadow: none !important;
  //   border-radius: 0 !important;
  // }
  // .mat-expansion-panel-body {
  //   background-color: $color-white !important;
  // }
  // mat-expansion-panel-header {
  //   border: thin $color-gray-4 solid !important;
  //   border-radius: 0 !important;
  //   background-color: $color-gray-4 !important;
  // }
  // mat-expansion-panel,
  // mat-expansion-panel-header {
  //   border-radius: 0 !important;
  // }
  // .mat-expansion-panel-content, 
  // .mat-expansion-panel-body,
  // mat-expansion-panel, 
  // mat-expansion-panel-header,
  // mat-accordion,
  // il-inspection-report-products,
  // table,
  // thead,
  // tr,
  // td,
  // tbody {
  //   overflow: visible;
  // }
  // .mat-expansion-indicator, mat-datepicker-toggle {
  //   display: none !important;
  // }
  // tr.mat-row, tr.mat-footer-row {
  //   height: 48px !important;
  //   min-height: 48px !important;
  // }
  // .mat-cell, .mat-footer-cell {
  //   font-size: 14px;
  //   height: 48px !important;
  //   min-height: 48px !important;
  // }
  // td.mat-cell {
  //   padding: 5px !important;
  //   &:first-child {
  //     min-width: 170px !important;
  //     width: 170px;
  //     padding-left: 20px !important;
  //   }
  //   &:nth-child(2) {
  //     min-width: 170px !important;
  //     width: 170px !important;
  //   }
  //   &:nth-child(3) {
  //     min-width: 220px !important;
  //     width: 220px !important;
  //   }
  //   &:last-child {
  //     min-width: 150px !important;
  //     width: 100% !important;
  //     padding: 20px !important;
  //   }
  //   img {
  //     height: auto !important;
  //     width: 100px !important;
  //   }
  // }
  // #content {
  //   width: 100%;
  //   min-width: 100%;
  //   max-width: 100%;
  //   padding: 0;
  // }
  .contract-detail-report-container {
    .table-category-title {
      border: thin $color-gray-2 solid !important;
      margin-top: 10px;
      th {
        background-color: $color-gray-3 !important;
        font-weight: bold;
      }
    }
    table {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 0 !important;
      thead {
        page-break-inside: avoid !important;
        height: 35px;
        th {
          &:first-child {
            width: fit-content;
            max-width: 100%;
            min-width: 100%;
          }
        }
      }
      tbody {
        overflow: visible;
      }
      th,
      td {
        position: relative;
        padding: 5px !important;
        border-top: thin $color-gray-3 solid;
        border-bottom: none !important;
        overflow: visible;
        page-break-inside: avoid !important;
        &:first-child {
          width: fit-content;
          max-width: 100%;
          min-width: 100%;
        }
        &:nth-child(2) {
          width: fit-content;
          max-width: 100%;
          min-width: 100%;
        }
      }
    }
  }
}