<div>
  <il-expandable-panel title="Tags ({{ totalTags }})" [expanded]="true">
    <div fxLayout="column" fxLayoutGap="20px">
      <div class="detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-list fxLayout>
          <mat-list-item *ngFor="let header of tagHeader;" fxFlex="25">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
              <h5>{{header.title}}</h5>
              <h2>{{header.value}}</h2>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <!-- <div class="chart-container">
      <div class="chart-container-inner">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>.
    </div> -->
    <!-- <div class="circle-graphs" fxLayout="row">
      <div fxFlex="20" fxLayoutAlign="center center">Failure Rate</div>
      <div *ngFor="let data  of  graphData" fxFlex="20">
        <il-circle-graph [graphData]="data"></il-circle-graph>
      </div>
    </div> -->
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef> Tag </th>
        <td mat-cell *matCellDef="let items"> {{(items?.tag?.tag_name | titlecase) || '--'}} </td>
      </ng-container>

      <ng-container matColumnDef="failed">
        <th mat-header-cell *matHeaderCellDef> Failed </th>
        <td mat-cell *matCellDef="let items"> {{items?.failed_tags != 0 ? items?.failed_tags : '--'}} </td>
      </ng-container>

      <ng-container matColumnDef="passed">
        <th mat-header-cell *matHeaderCellDef> Passed </th>
        <td mat-cell *matCellDef="let items"> {{ items?.passed_tags != 0 ? items?.passed_tags : '--' }} </td>
      </ng-container>

      <ng-container matColumnDef="failureRate">
        <th mat-header-cell *matHeaderCellDef> Failure Rate </th>
        <td mat-cell *matCellDef="let items"> {{ items?.failure_rate }} % </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </il-expandable-panel>

</div>