<mat-card class="profile-card">
  <div class="card-row" fxLayout="column" fxLayoutGap="20px">
    <div>
      <div fxFlex>
        <h3>Personal Details</h3>
      </div>
      <div fxFlex="200px" fxLayoutAlign="end center">
        <button [routerLink]="inspectionRoute" mat-flat-button class="il-button default small">Close</button>
        <button [disabled]="!form.valid" (click)="updateProfile()" mat-flat-button class="il-button primary small">Update</button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxFlex="150px">
        <div class="img-container">
          <img [src]="getImage(detail?.image)" />
        </div>
        <input hidden type="file" #uploader (change)="upload($event)" />
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="link" (click)="uploader?.click()">Browse</span>
        </div>
      </div>

      <div fxFlex fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="20px">
          <div>
            <div fxFlex>
              <h3>Contacts</h3>
            </div>
          </div>
          <div fxFlex class="item-container" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">
            <div fxFlex="30">
              <il-input [form]="form" [isFloatLabel]="true" controlName="phone" placeholder="Phone Number"></il-input>
            </div>
            <div fxFlex="30">
              <il-input [form]="form" [isFloatLabel]="true" controlName="email" placeholder="Email"></il-input>
            </div>
            <div fxFlex="30">
              <il-input [form]="form" [isFloatLabel]="true" controlName="wechatid" placeholder="WeChat ID"></il-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>