<mat-card class="profile-card">
  <div class="card-row" fxLayout="column" fxLayoutGap="20px">
    <div>
      <div fxFlex>
        <h2>Personal Details</h2>
      </div>
      <div fxFlex="200px" fxLayoutAlign="end center">
        <button routerLink="/dashboard/contracts" mat-flat-button class="il-button default small">Cancel</button>
        <button mat-flat-button class="il-button primary small">Update</button>
      </div>
    </div>
    <div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="150px">
        <div class="img-container">
          <img *ngIf="rawImage ? rawImage:  detail?.image" [src]="rawImage ? rawImage : apiImageUrl + detail?.image" />
        </div>
        <input hidden type="file" #uploader (change)="upload($event)" />
        <span class="link" (click)="uploader?.click()">Browse</span>
      </div>
      <div fxFlex>
        <span class="self-intro">Self introduction</span>
        <div class="self-desc">{{ detail?.self_intro }}</div>
        <div>
          <div *ngIf="form" fxFlex fxLayout="row" fxLayoutGap="20px">
            <il-input fxFlex="30" [form]="form" isFloatLabel="true" controlName="position" placeholder="Position"></il-input>
            <il-dropdown-multi-select fxFlex [form]="form" controlName="role" placeHolder="Role" [dataList]="roles">
            </il-dropdown-multi-select>
            <il-input fxFlex="30" [form]="form" isFloatLabel="true" controlName="company_name" placeholder="Company"></il-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <div class="card-row">
      <div fxFlex fxLayout="column" fxLayoutGap="20px">
        <div>
          <div fxFlex>
            <h2>Contacts</h2>
          </div>
          <div class="action-profile" fxFlex="120px" fxLayoutAlign="end center">
            <img [src]="svgPath + 'edit-icon-blue.svg'" />
            <span>Edit</span>
          </div>
        </div>
        <div fxFlex class="item-container" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="40px">
          <div fxFlex="20">
            <div>Phone Number</div>
            <div>{{ detail?.phone }}</div>
          </div>
          <div fxFlex="20">
            <div>Email</div>
            <div>{{ detail?.email }}</div>
          </div>
          <div fxFlex="20">
            <div>Linked Profile</div>
            <div>{{ detail?.company_linkedin }}</div>
          </div>
          <div fxFlex="20">
            <div>Facebook Profile</div>
            <div>{{ detail?.facebook }}</div>
          </div>
          <div fxFlex="20">
            <div>Twitter Profile</div>
            <div>{{ detail?.twitter }}</div>
          </div>
          <div fxFlex="20">
            <div>Wechat ID</div>
            <div>{{ detail?.wechatid }}</div>
          </div>
          <div fxFlex="20">
            <div>QQ ID</div>
            <div>{{ detail?.qqid }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <div class="card-row">
      <div fxFlex fxLayout="column" fxLayoutGap="20px">
        <div>
          <div fxFlex>
            <h2>Company Details</h2>
          </div>
          <div class="action-profile" fxFlex="120px" fxLayoutAlign="end center">
            <img [src]="svgPath + 'edit-icon-blue.svg'" />
            <span>Edit</span>
          </div>
        </div>
        <div fxFlex class="item-container" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="40px">
          <div fxFlex="20">
            <div>Company Name</div>
            <div>CIL China</div>
          </div>
          <div fxFlex="20">
            <div>Company Linked Profile</div>
            <div>linked.com/cil-china</div>
          </div>
          <div fxFlex="40">
            <div>Address</div>
            <div>Haizhu Qu, Guangzhou Shi, Guangdong Sheng China </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>