<mat-card class="change-password">
  <div class="error" *ngIf="errorStatus">Change password failed, please try again.</div>
  <div *ngIf="form" fxLayout="column">
    <div class="card-row" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="img-box">
          <img [src]="svgPath + 'change-password.svg'" />
        </div>
        <h2>Change Password</h2>
      </div>
      <div class="details-container" fxLayout="column" fxLayoutAlign="start start">
        <il-input fxFlex="25" inputType="password" [form]="form" isFloatLabel="true" controlName="old_password" placeholder="Old Password"></il-input>
        <il-input fxFlex="25" inputType="password" [form]="form" isFloatLabel="true" controlName="new_password" placeholder="New Password"></il-input>
        <il-input fxFlex="25" inputType="password" [form]="form" isFloatLabel="true" controlName="confirm_new_password" placeholder="Confirm New Password"></il-input>
      </div>
    </div>

    <div class="action-btns" fxLayout="row" fxLayoutAlign="center center">
      <button [disabled]="!form.valid" (click)="changePassword()" mat-flat-button class="il-button primary large">Save Password</button>
    </div>
  </div>
</mat-card>