<mat-card class="change-password">
  <div class="error" *ngIf="errorStatus === false" translate>Change password failed, please try again</div>
  <div class="success" *ngIf="errorStatus === true" translate>Password Successfully changed</div>
  <div *ngIf="form" fxLayout="column">
    <div class="card-row" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="img-box">
          <img [src]="svgPath + 'change-password.svg'" />
        </div>
        <h2 translate>Change Password</h2>
      </div>
      <div class="details-container" fxLayout="column" fxLayoutAlign="start start">
        <il-input fxFlex="25" inputType="password" [form]="form" isFloatLabel="true" controlName="old_password" [placeholder]="'Old Password' | translate"></il-input>
        <il-input fxFlex="25" inputType="password" [form]="form" isFloatLabel="true" controlName="new_password" [placeholder]="'New Password' | translate"></il-input>
        <il-input fxFlex="25" inputType="password" [form]="form" isFloatLabel="true" controlName="confirm_new_password" [placeholder]="'Confirm New Password' | translate"></il-input>
      </div>
    </div>

    <div class="action-btns" fxLayout="row" fxLayoutAlign="center center">
      <button [disabled]="!form.valid" (click)="changePassword()" mat-flat-button class="il-button primary large" translate>{{ 'Save Password' | translate }}</button>
    </div>
  </div>
</mat-card>